{% extends "partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
            titleText: "Case reallocated",
            html: data.name.combinedName + " (" + crn + ") has been reallocated to <strong>" + staffData.name.combinedName + " (" + staffData.grade + ")</strong>"
        }) }}

            <h2 class="govuk-heading-m">What happens next</h2>

            <ul class="govuk-list govuk-list--bullet">
                <li>this case will be updated in NDelius within 5 minutes</li>
                {% if laoRestricted == false %}
                    <li>
                        <strong>{{ staffData.name.combinedName }}</strong> (<em>{{ staffData.email }}</em>) has been notified, and we've sent a copy of your reallocation instructions
                    </li>
                {% else %}
                    <li>
                        <strong>{{ staffData.name.combinedName }}</strong> (<em>{{ staffData.email }}</em>) has been notified, and we've sent a copy of your reallocation confirmation
                    </li>
                {% endif %}
            </ul>

            <p class="govuk-body">
                <a class="govuk-link--no-visited-state" href="/pdu/{{ pduCode }}/reallocations">Return to reallocations</a>
            </p>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script nonce="{{ cspNonce }}">
        localStorage.removeItem('instructions-save-{{ crn }}-{{ convictionNumber }}')
    </script>
    <script nonce="{{ cspNonce }}" id="ss-popup-1771663">
        (function (d, w) {
            var s,
                ss;
            ss = d.createElement("script");
            ss.type = "text/javascript";
            ss.async = true;
            ss.type = "module";
            ss.src = (
                "https:" == d.location.protocol
                ? "https://"
                : "http://") + "embed.smartsurvey.io/index.js?popupCode=NDLVKJ";
            s = d.getElementsByTagName("script")[0];
            s
                .parentNode
                .insertBefore(ss, s);
        })(document, window);
    </script>
{% endblock %}
