{%- from "../doubleCell/macro.njk" import doubleCell -%}
{%- from "../downloadDocumentLink/macro.njk" import downloadDocumentLink -%}

{% macro documentCell(crn, convictionId, documentId, completedDate, linkText, noText ) -%}
{%- set noDocumentElement='<strong class="govuk-tag govuk-tag--grey">' + noText +'</strong>' -%}
{%- set uploadedDate = 'Uploaded ' + completedDate | dateFormat-%}

{{ doubleCell(documentDownloadLink(crn, convictionId, documentId, linkText, 'govuk-link--no-visited-state') if completedDate else noDocumentElement, uploadedDate if completedDate) }}

{%- endmacro %}