{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set reasonOptions = [
  {
    value: "",
    text: "Select a reallocation reason",
    selected: true
  },
  {
    value: "ALLOCATED_TO_RESPONSIBLE_OFFICER",
    text: "Allocate to a responsible officer"
  },
  {
    value: "CASELOAD_ADJUSTMENT",
    text: "Caseload adjustment"
  },
  {
    value: "CHANGE_IN_TIER_OR_RISK",
    text: "Change in Tier/Risk"
  },
  {
    value: "CHANGE_OF_ADDRESS",
    text: "Change of address"
  },
  {
    value: "OFFICER_LEFT",
    text: "Officer left"
  },
  {
    value: "OTHER",
    text: "Other"
  },
  {
    value: "PROBATION_RESET",
    text: "Probation reset"
  },
  {
    value: "RISK_TO_STAFF",
    text: "Risk to staff"
  },
  {
    value: "TRANSFER_IN",
    text: "Transfer in"
  }
]
%}

{{ govukSelect({
  id: "reason",
  name: "reason",
  items: reasonOptions,
  errorMessage: params.errorMessage
}) }}
