{% macro allocatedCaseDisplay(item, pduCode) -%}
    <div>
        {% if item.apopExcluded !== true %}
            {{item.name}}
        {% else %}
            *********
        {% endif %}
    </div>
    <div class="govuk-body-s">{{ item.crn }}</div>
    {% if item.excluded or item.apopExcluded %}
        <span class="govuk-tag govuk-tag--orange">Restricted access</span>
    {% endif %}
{%- endmacro %}