{% extends "partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set notification %}
  <p class="govuk-body">
    <strong>Changes to tiering model</strong>
    <br/>
    Each case now has a tier score of A to G. There are no changes to role boundaries. You should allocate cases with a Combined Serious Reoffending Predictor (CSRP) of 3 or above to a PO.
    <br/>
    <a class="govuk-link govuk-link--no-visited-state" class="govuk-link" rel="noreferrer noopener" target="_blank" href={{"https://articulateusercontent.com/rise/courses/d0BXQl-CIeK7i_PX_Zg0dcV2KSkmboTG/L-h-lZLJ_d2CSU92.png"}}>View table for guidance on allocations </a> (opens in a new tab).
  </p>
{% endset %}

{% block content %}

    {% if errors | length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors
        }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukNotificationBanner({
          html: notification
        }) }}
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-5">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">{{ pduDetails.region.name }}</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">{{ pduDetails.name }}</h1>
            <a class="govuk-body-s govuk-link--no-visited-state" data-qa-link="select-teams" href="/pdu/{{pduDetails.code}}/select-teams">Edit my teams list</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ mojSubNavigation({
            label: 'Sub navigation',
            items: [
                {
                    text: 'Unallocated cases' +  (' (' + unallocatedCaseCount | getCaseCount + ')' if unallocatedCaseCount) ,
                    href: '/pdu/' + pduCode + '/find-unallocated',
                    active: isFindUnalllocatedCasesPage
                },
                {
                    text: 'Cases allocated in last 30 days' +  (' (' + allocatedCasesCount | getCaseCount + ')' if allocatedCasesCount) ,
                    href: '/pdu/' + pduCode + '/case-allocation-history',
                    active: isCaseAllocationHistoryPage
                }
            ]
        }) }}
        </div>
    </div>

    {% block allocationContent %}{% endblock %}

{% endblock %}
