{% extends "partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set notification %}
<p class="govuk-notification-banner__heading">
    <p class="govuk-body">Allocate a Person on Probation will be unavailable from <strong>8am on Saturday 24 January until 9am on Monday 26 January</strong>.  This is due to updates to NDelius.</p>
    <p class="govuk-body">
        <strong>Changes to limited access offender (LAO) cases</strong>
        <br/>
        If you are not excluded from accessing any LAO case you will now be able to view and allocate all cases of this type.
        <br/>
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href={{"/whats-new"}}>Read more about this change</a>.
        </p>
</p>
{% endset %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukNotificationBanner({
          html: notification
      }) }}
        </div>
    </div>

    {% if errors | length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors
        }) }}
    {% endif %}

    <div class="govuk-grid-row govuk-!-padding-bottom-5">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">{{ pduDetails.region.name }}</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">{{ pduDetails.name }}</h1>
            <a class="govuk-body-s govuk-link--no-visited-state" data-qa-link="select-teams" href="/pdu/{{pduDetails.code}}/select-teams">Edit my teams list</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ mojSubNavigation({
            label: 'Sub navigation',
            items: [
                {
                    text: 'Unallocated cases' +  (' (' + unallocatedCaseCount | getCaseCount + ')' if unallocatedCaseCount) ,
                    href: '/pdu/' + pduCode + '/find-unallocated',
                    active: isFindUnalllocatedCasesPage
                },
                {
                    text: 'Cases allocated in last 30 days' +  (' (' + allocatedCasesCount | getCaseCount + ')' if allocatedCasesCount) ,
                    href: '/pdu/' + pduCode + '/case-allocation-history',
                    active: isCaseAllocationHistoryPage
                }
            ]
        }) }}
        </div>
    </div>

    {% block allocationContent %}{% endblock %}

{% endblock %}
