{% extends "partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../components/pop/macro.njk" import pop %}
{% from "../components/instructions/macro.njk" import instructions %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/pdu/" + pduCode + "/teams"
            },
            {
                text: "Unallocated cases",
                href: '/pdu/' + pduCode + '/find-unallocated'
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    {% if outOfAreaTransfer == true %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukNotificationBanner({
                    html: '
                   <p class="govuk-notification-banner__heading">
                     This case is sitting in a different area, and the transfer process must be completed in NDelius before it can be allocated through the service. You can still review the case details.
                   </p>
                '
                }) }}
            </div>
        </div>
    {% endif %}

    {{ pop({name: name, crn: crn, tier: tier, convictionNumber: convictionNumber, pduCode: pduCode}) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ mojSubNavigation({
                label: 'Sub navigation',
                items: [
                    {
                        text: 'Summary',
                        href: '/pdu/' + pduCode + '/' + crn + '/convictions/' + convictionNumber + '/case-view',
                        active: 'Summary' in title
                    },
                    {
                        text: 'Probation record',
                        href: '/pdu/' + pduCode + '/' + crn + '/convictions/' + convictionNumber + '/probation-record',
                        active: 'Probation record' in title
                    },
                    {
                        text: 'Risk',
                        href: '/pdu/' + pduCode + '/' + crn + '/convictions/' + convictionNumber + '/risk',
                        active: 'Risk' in title
                    },
                    {
                        text: 'Documents',
                        href: '/pdu/' + pduCode + '/' + crn + '/convictions/' + convictionNumber + '/documents',
                        active: 'Documents' in title
                    }
                ]
            }) }}


            {% block caseContent %}{% endblock %}

        </div>
    </div>
    <form action="{{ '/pdu/'+pduCode + '/' + crn + '/convictions/' + convictionNumber + '/case-view'}}" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ instructions({ 
                inGridRow: true,
                convictionNumber: convictionNumber,
                crn: crn,
                errorMessage: errors | findError('instructions')
            }) 
        }}
        {{ govukButton({
                text: 'Continue',
                classes: 'allocate',
                type: 'submit',
                name: 'action',
                value: 'continue',
                preventDoubleClick: true,
                disabled: outOfAreaTransfer,
                id: convictionNumber
            })
        }}
    </form>

    {% block feedbackPrompt %}{% endblock %}

{% endblock %}

