{% extends "partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = applicationName + " - Case view" %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home"
            },
            {
                text: "Unallocated cases",
                href: "/"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ data.name or name }}
                <span class="govuk-caption-xl">Tier: {{ data.tier or tier }}</span>
                <span class="govuk-caption-xl">CRN: {{ data.crn or crn }}</span>
            </h1>
        </div>


        <div class="govuk-grid-column-one-third">
            <a id="{{ convictionId }}" class="govuk-!-margin-top-8 govuk-button allocate" href="/{{ crn }}/convictions/{{ convictionId }}/allocate" role="button" draggable="false"
               data-module="govuk-button">Allocate case</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ mojSubNavigation({
                label: 'Sub navigation',
                items: [
                    {
                        text: 'Summary',
                        href: '/' + crn + '/convictions/' + convictionId + '/case-view',
                        active: 'Summary' in title
                    },
                    {
                        text: 'Probation record',
                        href: '/' + crn + '/convictions/' + convictionId + '/probation-record',
                        active: 'Probation record' in title
                    },
                    {
                        text: 'Risk',
                        href: '/' + crn + '/convictions/' + convictionId + '/risk',
                        active: 'Risk' in title
                    }
                ]
            }) }}


            {% block caseContent %}{% endblock %}

        </div>
    </div>

    {% block instructions %}{% endblock %}

{% endblock %}

