
{%- from "moj/components/header/macro.njk" import mojHeader -%}

{{ mojHeader({
  organisationLabel: {
    text: 'HMPPS',
    href: '/'
  },
  serviceLabel: {
    text: 'Manage a workforce',
    href: '/'
  },
  navigation: {
    label: 'Account navigation',
    items: [{
      text: user.displayName | initialiseName,
      href: '#',
      active: true
    }, {
      text: 'Sign out',
      href: '/sign-out'
    }]
  }

}) }}
