<!DOCTYPE html>
<html lang="en" class="govuk-template no-js">
<head>

    {%- from "components/primary-nav/macro.njk" import mawPrimaryNav -%}
    {%- from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}

    {% set mainTitle = "Allocations" %}

    {% block head %}
        <meta charset="utf-8"/>

        <title>{{ title }}</title>

        <!-- Google Tag Manager -->
        <script nonce="{{ cspNonce }}">window.dataLayer = window.dataLayer || [];</script>

        <script nonce="{{ cspNonce }}">(function(w,d,s,l,i){
          w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
          var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
          j.async=true;
          j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
          var n=d.querySelector('[nonce]');
          n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));
          f.parentNode.insertBefore(j,f);
        })
        (window,document,'script','dataLayer','GTM-WLS8X4P');
         </script>

        <!--[if !IE 8]><!-->
        <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
        <!--<![endif]-->

        <!--[if lt IE 9]>
        <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
        <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
        <![endif]-->

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/jquery-ui.min.js"></script>
        <link href="/assets/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>

    {% endblock %}
</head>
<body class="govuk-template__body">

<script>
    document.body.classList.add('js-enabled')
</script>

<a href="#main-content" class="govuk-skip-link">Skip to main content</a>

{% block bodyStart %}

{% endblock %}

{% block header %}
    {% include "./header.njk" %}
{% endblock %}

{% block technicalUpdatesBanner %}

<div class="govuk-grid-row technical-updates-banner moj-hidden" id="technical-updates-banner" data-banner-version="{{ lastTechnicalUpdate }}">
  <div class="govuk-grid-column-full">
    <div class="govuk-width-container govuk-body technical-updates-container">
        <div class="technical-updates-content">
        <strong class="technical-updates-whats-new">
            What's new
        </strong>
        <span>
            We've added some new functionality. <a class="govuk-link govuk-link--inverse" href="/technical-updates">See the Technical updates page for more information</a>
        </span>
        </div>
        <a id="hide-message" class="technical-updates-hide-message govuk-link govuk-link--inverse" href="#" aria-current="page">Hide message</a>
    </div>
  </div>
</div>

{% endblock %}

{% block phaseBanner %}
    <div class="govuk-width-container">
        {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
        {{ govukPhaseBanner({
            tag: {
                text: "beta"
            },
            classes: 'maw-no-border',
            html: 'This is a new service – your <a class="govuk-link feedback" href="mailto:manageaworkforce@justice.gov.uk">feedback</a> will help us to improve it.'
        }) }}
    </div>
{% endblock %}

{% block navigation %}
    {{ mawPrimaryNav({unallocatedCaseCount: unallocatedCaseCount }) }}
{% endblock %}


<div class="govuk-width-container">
    {% block beforeContent %}
    {% endblock %}

    <main class="govuk-main-wrapper" id="main-content" role="main">
        {% block notificationBannner %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
        {% if notification.active === 'true' %}
            {% set html %}
                    <p class="govuk-notification-banner__heading">The service is experiencing technical issues, and you may have limited access.
                    </p>
            {% endset %}

            {{ govukNotificationBanner({
                html: html
            }) }}
        {% endif %}
            </div>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </main>
</div>

{% set footerItems = [
                {
                    href: "/accessibility-statement",
                    text: "Accessibility statement"
                },
                {
                    href: "/cookie-policy",
                    text: "Cookies"
                },
                {
                    href: "/privacy-notice",
                    text: "Privacy"
                }
            ]
%}

{%- if canAllocate -%}
    {% set footerItems = (footerItems.push({href: "/technical-updates",text: "Technical updates"}), footerItems) %}
{%- endif -%}
{% block footer %}
    {%- from "govuk/components/footer/macro.njk" import govukFooter -%}
    {{ govukFooter({
        meta: {
            items: footerItems
        }
    }) }}
{% endblock %}



{% block bodyEnd %}
    <script src="/assets/govuk/all.js"></script>
    <script src="/assets/govukFrontendInit.js"></script>
    <script src="/assets/moj/all.js"></script>
    <script src="/assets/naturalSortableTable.js"></script>
    <script src="/assets/mojFrontendInit.js"></script>
    <script src="/assets/technical-updates.js"></script>
{% endblock %}

{% block javascripts %}{% endblock %}

</body>
</html>
