{% extends "partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "/" + crn + "/convictions/" + convictionId + "/allocate"
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">{{ data.teamName }}</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ officerName }}
                <span class="maw-secondary-text-col govuk-!-display-block">{{ officerGrade }}</span>
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ mojSubNavigation({
                label: 'Sub navigation',
                items: [
                    {
                        text: 'Overview',
                        href: '/' + crn + '/convictions/' + convictionId + '/allocate/' + officerCode + '/officer-view',
                        active: isOverview
                    },
                    {
                        text: 'Active cases (' + officerTotalCases + ')',
                        href: '/' + crn + '/convictions/' + convictionId + '/allocate/' + officerCode + '/active-cases',
                        active: isActiveCases
                    }
                ]
            }) }}


            {% block officerContent %}{% endblock %}

        </div>
    </div>

{% endblock %}

