$low-score-colour: #485b10;
$low-score-border-colour: #85994b;
$low-score-badge-colour: #dee9bd;
$medium-score-colour: #a34e00;
$medium-score-border-colour: #f47738;
$medium-score-badge-colour: #f9e8bd;
$high-score-colour: #942514;
$high-score-border-colour: #d4351c;
$high-score-badge-colour: #f6d7d2;
$very-high-score-colour: #711a0d;
$very-high-score-border-colour: #942514;
$very-high-score-badge-colour: #ffac9f;
$mappa-colour: #4c2c92;

.rosh-widget,
.risk-badge {
  border: 2px solid govuk-colour('black');
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);

  & h3 {
    margin-bottom: govuk-spacing(1);
    font-weight: 400;
  }
}

.risk-badge {
  display: inline-block;
  padding: govuk-spacing(1);
  margin: 0 govuk-spacing(1) govuk-spacing(1) 0;

  & h3 {
    margin-bottom: 0;
    font-weight: 400;
  }
}

.rosh-widget--low,
.risk-badge--low {
  border: 2px solid $low-score-border-colour;

  & h3 {
    color: $low-score-colour;
  }
}

.rosh--low {
  color: $low-score-colour;
}

.rosh-widget--medium,
.risk-badge--medium {
  border: 2px solid $medium-score-border-colour;

  & h3 {
    color: $medium-score-colour;
  }
}

.rosh--medium {
  color: $medium-score-colour;
}

.rosh-widget--high,
.risk-badge--high {
  border: 2px solid $high-score-border-colour;

  & h3 {
    color: $high-score-colour;
  }
}

.rosh--high {
  color: $high-score-colour;
}

.rosh-widget--very-high,
.risk-badge--very-high {
  border: 2px solid $very-high-score-border-colour;

  & h3 {
    color: $very-high-score-colour;
  }
}

.rosh--very-high {
  color: $very-high-score-colour;
}

.rosh-widget__table {
  text-align: left;
  margin: 0;

  & tbody {
    & th {
      font-weight: 400;
    }

    & td {
      font-weight: bold;
    }
  }
}

.rosh-widget__risk--low,
.risk-badge--low {
  color: $low-score-colour;
}

.rosh-widget__risk--medium,
.risk-badge--medium {
  color: $medium-score-colour;
}

.rosh-widget__risk--high,
.risk-badge--high {
  color: $high-score-colour;
}

.rosh-widget__risk--very-high,
.risk-badge--very-high {
  color: $very-high-score-colour;
}

.mappa-widget {
  border: 2px solid $mappa-colour;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);

  & h3 {
    color: $mappa-colour;
    margin-bottom: govuk-spacing(1);
    font-weight: 400;
  }
}

.risk-flag-widget {
  border: 2px solid #93afc3;
  background-color: #ebf7ff;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
}

// MaW specific
$no-score-colour: #505a5f;
$no-score-border-colour: #505a5f;
$no-score-background-colour: #ffffff;
$predictor-score-background-colour: #f9e8bd;

$unavailable-score-colour: #505a5f;
$unavailable-score-border-colour: #ffdd00;
$unavailable-score-background-colour: #ffffff;

.rosh-widget,
.risk-badge {
  h3 {
    strong {
      text-transform: uppercase;
    }

    span {
      background-color: $predictor-score-background-colour;
      color: $govuk-text-colour;
      font-weight: 800;
      padding: 4px 6px;
    }
  }
}

.rosh-widget--none,
.risk-badge--none {
  background-color: $no-score-background-colour;
  border: 2px solid $no-score-border-colour;

  & h3 {
    color: $no-score-colour;
  }
}

.rosh-widget__risk--none,
.risk-badge--none {
  color: $no-score-colour;
}

.rosh-widget--unavailable,
.risk-badge--unavailable {
  background-color: $unavailable-score-background-colour;
  border: 2px solid $unavailable-score-border-colour;

  & h3 {
    color: $unavailable-score-colour;
  }
}

.rosh-widget__risk--unavailable,
.risk-badge--unavailable {
  color: $unavailable-score-colour;
}

.crn-lookup-results {
  background-color: govuk-colour('white');

  table {
    thead {
      tr > th {
        border-bottom: 0;
      }
    }

    tbody {
      tr > td {
        padding-bottom: govuk-spacing(6);
      }
    }
  }
}

.crn-lookup-not-found-details[open] {
  background-color: govuk-colour('white');
}

// .csr-widget {
//   padding: govuk-spacing(4);
//   margin-bottom: govuk-spacing(4);

//   &.csr-widget--low {
//     border: 2px solid $low-score-border-colour;

//     .govuk-heading-m.csr-band {
//       color: $low-score-border-colour;
//     }

//     .banded-score {
//       background-color: $low-score-badge-colour;
//     }
//   }

//   &.csr-widget--medium {
//     border: 2px solid $medium-score-border-colour;

//     .govuk-heading-m.csr-band {
//       color: $medium-score-border-colour;
//     }

//     .banded-score {
//       background-color: $medium-score-badge-colour;
//     }
//   }

//   &.csr-widget--high {
//     border: 2px solid $high-score-border-colour;

//     .govuk-heading-m.csr-band {
//       color: $high-score-border-colour;
//     }

//     .banded-score {
//       background-color: $high-score-badge-colour;
//     }
//   }

//   &.csr-widget--very-high {
//     border: 2px solid $very-high-score-border-colour;

//     .govuk-heading-m.csr-band {
//       color: $very-high-score-border-colour;
//     }

//     .banded-score {
//       background-color: $very-high-score-badge-colour;
//     }
//   }

//   .banded-score,
//   .static-or-dynamic {
//     padding: govuk-spacing(1);
//     color: $govuk-text-colour;
//   }

//   .static-or-dynamic {
//     font-weight: normal;
//     background-color: #e5e6e7;
//   }
// }

$very-high-score-colour: #942514;
$very-high-score-colour--light: #ffac9f;
$very-high-score-colour__text: #711a0d;
$high-score-colour: #d4351c;
$high-score-colour--light: #f6d7d2;
$high-score-colour__text: #942514;
$medium-score-colour: #f47738;
$medium-score-colour--light: #f9e8bd;
$medium-score-colour__text: #a34e00;
$low-score-colour: #85994b;
$low-score-colour--light: #dee9bd;
$low-score-colour__text: #485b10;
$default-colour: govuk-colour('mid-grey');
$default-colour--light: govuk-colour('light-grey');
$default-colour__text: govuk-colour('black');

@mixin expanded-predictor-badge-base($primary-colour, $secondary-colour, $text-colour) {
  display: inline-flex;
  flex-direction: column;
  outline: 2px solid $primary-colour;
  width: 259px;

  & .predictor-badge__type {
    @include govuk-font(19, 'bold');
    color: govuk-colour('black');

    padding: 10px 10px 2px 10px;
  }

  & .predictor-badge__stats {
    padding: 2px 10px 2px 10px;
  }

  & .predictor-badge__level {
    @include govuk-font(19, 'bold');
    color: $text-colour;

    padding: 0px;
  }

  & .predictor-badge__score {
    @include govuk-font(19, 'bold');
    color: govuk-colour('black');
    background-color: $secondary-colour;
    padding: 2px 4px;
  }

  & .predictor-badge__static_or_dynamic {
    @include govuk-font(19, 'regular');
    color: #282d30;

    background-color: #e5e6e7;

    padding: 2px 4px;
  }

  & .predictor-badge__wrapped_static_or_dynamic {
    display: inline-block;
    margin-top: 3px;
  }

  & .predictor-badge__last_updated {
    @include govuk-font(16, 'regular');
    color: #6e777a;

    padding: 2px 10px 10px 10px;
  }
}

.expanded-predictor-badge--very-high {
  @include expanded-predictor-badge-base(
    $very-high-score-colour,
    $very-high-score-colour--light,
    $very-high-score-colour__text
  );
}

.expanded-predictor-badge--high {
  @include expanded-predictor-badge-base($high-score-colour, $high-score-colour--light, $high-score-colour__text);
}

.expanded-predictor-badge--medium {
  @include expanded-predictor-badge-base($medium-score-colour, $medium-score-colour--light, $medium-score-colour__text);
}

.expanded-predictor-badge--low {
  @include expanded-predictor-badge-base($low-score-colour, $low-score-colour--light, $low-score-colour__text);
}

.expanded-predictor-badge--default {
  @include expanded-predictor-badge-base($default-colour, $default-colour--light, $default-colour__text);
}

.expanded-predictor-badge__fixed-width {
  width: 259px;
}

.expanded-predictor-badge__dynamic {
  width: 100%;
}
