<div class="moj-primary-navigation">

    <div class="moj-primary-navigation__container">

        <div class="moj-primary-navigation__nav">

            <nav class="moj-primary-navigation" aria-label="Primary navigation">

                <ul class="moj-primary-navigation__list">

                    <li class="moj-primary-navigation__item">
                        <a class="moj-primary-navigation__link" aria-current="page"
                           href="/"> {% if params.casesLength %}
                                <span id="notifications" class="moj-notification-badge">{{ params.casesLength | getCaseCount }}</span>
                                     {% endif %}
                            Allocations</a>
                    </li>

                    <li class="moj-primary-navigation__item">
                        <a class="moj-primary-navigation__link" href="{{ workloadMeasurementUrl }}/probation/hmpps/0" id="offender-management-link">Offender Management</a>
                    </li>

                    <li class="moj-primary-navigation__item">
                        <a class="moj-primary-navigation__link" href="{{ workloadMeasurementUrl }}/omic/hmpps/0" id="omic-link">OMIC</a>
                    </li>

                    <li class="moj-primary-navigation__item">
                        <a class="moj-primary-navigation__link" href="{{ workloadMeasurementUrl }}/court-reports/hmpps/0" id="courts-link">Courts</a>
                    </li>

                    <li class="moj-primary-navigation__item">
                        <a class="moj-primary-navigation__link" href="{{ workloadMeasurementUrl }}/officer-search" id="search-link">Search</a>
                    </li>
                </ul>

            </nav>

        </div>
    </div>

</div>
