.workforce-grade {
  color: $govuk-secondary-text-colour;
  display: block;
}

.tier-A {
  background-color: govuk-colour('bright-purple');
}

.tier-B1 {
  background-color:lighten(govuk-colour('purple'), 30%);
}

.tier-B2 {
  background-color: govuk-colour('purple');
}

.tier-C1 {
  background-color: govuk-colour('light-blue');
}

.tier-C2 {
  background-color: darken(govuk-colour('light-blue'), 15%);
}

.tier-D1 {
  background-color: govuk-colour('blue');
}

.tier-D2 {
  background-color: darken(govuk-colour('blue'), 15%);
}


.caseload-swatch {
  border: 1px solid transparent;
  border-radius: 30%;
  display: block;
  float: left;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.workforce-progress-container {
  background-color: govuk-colour('white');
  height: 50px;
  margin-bottom: 30px;
  width: 100%;
}

.workforce-progress-bar {
  border: solid;
  border-color: govuk-colour('white');
  border-right: 3px;
  float: left;
  height: 30px;
  margin-right: -3px;
  padding: 10px 0;
  text-align: center;

  &.bar-width-5 {
    width: 5%;
  }

  &.bar-width-10 {
    width: 10%;
  }

  &.bar-width-15 {
    width: 15%;
  }

  &.bar-width-20 {
    width: 20%;
  }

  &.bar-width-25 {
    width: 25%;
  }

  &.bar-width-30 {
    width: 30%;
  }

  &.bar-width-35 {
    width: 35%;
  }

  &.bar-width-40 {
    width: 40%;
  }

  &.bar-width-45 {
    width: 45%;
  }

  &.bar-width-50 {
    width: 50%;
  }

  &.bar-width-75 {
    width: 75%;
  }

  p {
    color: govuk-colour('white');
    line-height: 30px;
    margin: 0;
  }
}


.overview {
  height: 20px;
  margin: -6px 0 0;

  .workforce-progress-bar {
    color: govuk-colour('white');
    line-height: 32px;
    padding: 0;
  }
}



.tooltip {
  border-bottom: 1px dashed govuk-colour('dark-grey');
  display: inline-block;
  position: relative;

  .tooltiptext {
    background-color: govuk-colour('dark-grey');
    border-radius: 6px;
    color: govuk-colour('white');
    cursor: help;
    left: 105%;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: -5px;
    visibility: hidden;
    width: 120px;
    z-index: 999;
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}

.under-capacity {
  background-color: govuk-colour('blue');
}

.over-capacity {
  background-color: govuk-colour('red') !important;
}

.percentage-over {
  color: govuk-colour('red');
}

.percentage-extra-over {
  color: govuk-colour('red');
  font-weight: 800;
}

//* Hide content meant only for screen readers */
.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

//* Reposition small radios to flow in table layout */
.govuk-radios--small {

  .govuk-radios__label:before {
    top: 0;
    left: 17px;
  }

  .govuk-radios__label:after {
    top: 7px;
    left: 24px;
  }
}

//* case view summary */


//* Case list status feedback*/
.case-doc-checklist {
  li {
    padding-left: 20px;

    &.yep {
      background-color: transparent;
      background-image: url('/public/images/check.svg');
      background-repeat: no-repeat;
    }

    &.nope {
      background-color: transparent;
      background-image: url('/public/images/cross.svg');
      background-position: 0 3px;
      background-repeat: no-repeat;
    }
  }
}