.index-card {
    background-color: #f8f8f8;
    border: 1px #f3f2f1 solid;
    height: 150px;
    margin: 0 0 20px ;
    padding: 20px;
  
    p {
      color: $govuk-secondary-text-colour;
      margin-bottom: 30px;
    }
  
    h1 {
      color: $govuk-secondary-text-colour;
      margin-bottom: 5px;
  
      span {
        color: $govuk-text-colour;
        font-weight: 400;
      }
    }
  }