.feedback-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feedback-container .govuk-button {
  margin-bottom: 0;
  border: 1px #0b0c0c solid;
  width: 75px;
  box-shadow: 0px 3px 0px 0px #0b0c0c;
}

.feedback-container .govuk-label {
  text-decoration: none !important;
}
