{% from "govuk/components/table/macro.njk" import govukTable %}

{% if params.data %}
  {% set name = params.data.name.combinedName %}
  {% set crn = params.data.crn %}
  {% set dob = params.data.dateOfBirth %}
  {% set currentlyManagedby = params.data.manager.name.combinedName %}
  {% set pduCode = params.pduCode %}
  {% set convictionNumber = params.data.convictionNumber %}

  {% if params.data.apopExcluded === true %}
    {%- set tableRow = [
      { html: '<span>**********************</span><br /><span class="govuk-tag govuk-tag--orange">Restricted access</span>' },
      { text: crn },
      { text: 'This is a restricted case. Check NDelius if you require access or further information.', colspan: 2 }
    ] -%}
  {% else %}
    {% if params.data.excluded === true %}
      {% set nameField = '<p class="govuk-!-margin-bottom-2 govuk-!-margin-top-0"><a href="' + '/pdu/' + pduCode + '/' + crn + '/reallocation-case-view" class="govuk-link--no-visited-state govuk-!-font-weight-bold" data-qa-link="' + crn + '-' + convictionNumber + '">' + name + '</a></p><span class="govuk-tag govuk-tag--orange">Restricted access</span>' %}
    {% else %}
      {% set nameField = '<a href="' + '/pdu/' + pduCode + '/' + crn + '/reallocation-case-view' + '" class="govuk-link--no-visited-state govuk-!-font-weight-bold" data-qa-link="' + crn + '-' + convictionNumber + '">' + name + '</a>' %}
    {% endif %}
    {%- set tableRow = [
      { html: nameField },
      { text: crn },
      { text: dob | dateFormat },
      { text: currentlyManagedby }
    ] -%}
  {% endif %}

  {% set tableData = {
    attributes: {
        'data-module': 'moj-sortable-table',
        'data-persistent-id': 'reallocation-case'
    },
    head: [
        { text: 'Name',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'reallocation-case-name'
        }
        },
        { text: 'CRN',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'reallocation-case-CRN'
        }
        },
        { text: 'Date of birth',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'reallocation-case-date-of-birth',
            "data-type": 'DATE'
        }
        },
        { text: 'Currently managed by',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'reallocation-case-currently-managed-by'
        }
        }
    ],
    rows: [tableRow]
  } %}
{% endif %}
<div id="crn-lookup-component" class="maw-search-box govuk-!-padding-top-8 govuk-!-padding-bottom-8 govuk-!-padding-left-4 govuk-!-padding-right-4 govuk-!-margin-bottom-5">
  <label id="crn-lookup-heading" class="govuk-heading-l govuk-!-margin-top-5 govuk-!-margin-bottom-5" for="crn-input">
    Find a person on probation to reallocate
  </label>

  <span class="govuk-body">
    You can search by CRN
  </span>

  <form method="GET" action="{{params.action}}" class="govuk-form-group govuk-!-margin-top-1 {{"govuk-form-group--error" if params.errorMessage}}" data-validate-form="crn-lookup">
    {% if params.errorMessage %}
      <p id="crn-error" class="govuk-error-message">{{params.errorMessage.text}}</p>
    {% endif %}
    <input
      class="govuk-input govuk-input--width-20"
      id="crn"
      name="search"
      type="text"
      hint="You can search by CRN"
      aria-describedby="crn-lookup-heading"
      value="{{params.value}}"
/>
    <button type="submit" class="govuk-button  govuk-!-margin-left-1" data-form-submit>Search</button>
  </form>
  {% if params.data %}
    <div class ="crn-lookup-results" class="govuk-!-margin-top-4 govuk-!-margin-bottom-8 govuk-!-margin-left-4 govuk-!-margin-right-4">
      {{ govukTable(tableData) }}
    </div>
  {% endif %}

</div>