{% extends "./partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">
    You're not authorised to use this service
  </h1>
  <p class="govuk-body">
    Allocate a Person on Probation is a new service, and not all regions have access to it. 
  </p>
  <p class="govuk-body">
    If you think you should have access, email the <a href="mailto:manworkforce@justice.gov.uk">Manage a Workforce team</a>.  
  </p>
{% endblock %}