{% if 'lg' == params.popSize -%}
    {% set marginClass = 'govuk-!-margin-bottom-10'  %}
    {% set headingClass = 'govuk-heading-l' %}
    {% set captionClass = 'govuk-caption-l' %}
{% else %}
    {% set marginClass = 'govuk-!-margin-bottom-2'  %}
    {% set headingClass = 'govuk-heading-xl' %}
    {% set captionClass = 'govuk-caption-xl' %}
{%- endif %}

<div class="govuk-grid-row {{marginClass}}">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="{{headingClass}} govuk-!-margin-bottom-0">{{ params.name }}
            <span class="{{captionClass}}">Tier: {{ params.tier }}</span>
            <span class="{{captionClass}}">CRN: {{ params.crn }}</span>
        </h1>
        {% if true == params.laoCase %}
            <span class="govuk-body govuk-tag--orange govuk-!-margin-top-2 govuk-!-margin-bottom-2 govuk-!-display-inline-block">Restricted access</span>
        {%- endif %}
    </div>
</div>