<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ params.name }}
            <span class="govuk-caption-xl">Tier: {{ params.tier }}</span>
            <span class="govuk-caption-xl">CRN: {{ params.crn }}</span>
        </h1>
    </div>
    {% if params.convictionId %}
        <div class="govuk-grid-column-one-third">
            <a id="{{ params.convictionId }}" class="govuk-!-margin-top-8 govuk-button allocate" href="/team/{{ params.teamCode }}/{{ params.crn }}/convictions/{{ params.convictionId }}/allocate" role="button" draggable="false"
               data-module="govuk-button">Continue</a>
        </div>
    {% endif %}
</div>