<div class="card {%- if params.classes %} {{ params.classes }}{% endif %}">
  {{ params.html | safe if params.html else params.text }}
  <span class="card__heading
{%- if params.headingClasses %} {{ params.headingClasses }}{% endif %}">
    {{ params.titleHtml | safe if params.titleHtml else params.titleText }}
  </span>
</div>
