<h3 class="govuk-visually-hidden">
{{ params.name }}’s workload
</h3>

<details class="govuk-details workload-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
                    View workload
                </span>
  </summary>
  <div class="govuk-details__text">

    <div class="workload-section">
      <h4 class="govuk-heading-s">Case mix by tier</h4>

      <div class="workload-inline">
        <span>
          <strong>{{ params.tierCaseTotals.a }}</strong> in A</span>
        <span>
          <strong>{{ params.tierCaseTotals.b }}</strong> in B</span>
        <span>
          <strong>{{ params.tierCaseTotals.c }}</strong> in C</span>
        <span>
          <strong>{{ params.tierCaseTotals.d }}</strong> in D</span>
        <span>
          <strong>{{ params.tierCaseTotals.e }}</strong> in E</span>
        <span>
          <strong>{{ params.tierCaseTotals.f }}</strong> in F</span>
        <span>
          <strong>{{ params.tierCaseTotals.g }}</strong> in G</span>
      </div>
    </div>

    <div class="workload-section">
      <h4 class="govuk-heading-s">Case mix by type</h4>

      <div class="workload-inline">
        <span>
          <strong>{{ params.communityCases }}</strong> in community</span>
        <span>
          <strong>{{ params.licenseCases }}</strong> on licence</span>
        <span>
          <strong>{{ params.custodyCases }}</strong> in custody</span>
      </div>
    </div>

    <div class="workload-section">
      <h4 class="govuk-heading-s">Caseload volume and reports due</h4>

      <ul class="govuk-list">
        <li>
          <strong>{{ params.activeCases }}</strong> {{ params.activeCases | pluralise("active case") }}</li>
        <li>
          <strong>{{ params.contactSuspendedCases }}</strong> {{ params.contactSuspendedCases | pluralise("contact suspended case") }}</li>
        <li>
          <strong>{{ params.custodyReleasesInNext7Days }}</strong> {{ params.custodyReleasesInNext7Days | pluralise("custody release") }} in next 7 days</li>
        <li>
          <strong>{{ params.paroleReportsInNext28Days }}</strong> {{ params.paroleReportsInNext28Days | pluralise("parole report") }} in next 28 days</li>
        <li>
          <strong>{{ params.otherReportsInNext14Days }}</strong> {{ params.otherReportsInNext14Days | pluralise("other report") }} in next 14 days</li>
      </ul>
    </div>

  </div>

</details>
