.govuk-email-list {
  > .govuk-email-list-item {
    padding-bottom: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);

    &:not(:last-child) {
      border-bottom: 1px solid $govuk-border-colour;
    }
  }
}

.govuk-email-list-item {
  display: flex;
  gap: 15px;
  align-items: end;

  > div:first-child {
    flex: 1 0 auto;
  }
}

.govuk-allocations-emails-form {
  input[readonly] {
    background-color: govuk-colour('light-grey');
    cursor: not-allowed;
  }
}
