.govuk-filter-background {
    background-color: #f3f2f1;
    padding: 32px 32px 5px 32px;
}

.govuk-select--inline {
    display: inline-block;
    margin-right: 40px;
}

.govuk-select--overflow {
    width: 320px;
}