{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set notification %}
  <p class="govuk-body" id="tier-banner">
    <strong id="tier-banner-header">Changes to tiering model</strong>
    <br/>
    Each case now has a tier score of A to G. There are no changes to role boundaries. You should {{ params.action }} cases with a Combined Serious Reoffending Predictor (CSRP) of 3 or above to a PO.
    <br/>
    <a class="govuk-link govuk-link--no-visited-state" id="tier-banner-guidance-link" rel="noopener" target="_blank" href="/pdu/{{ params.pduCode }}/case-allocation-guidance">View guidance </a> (opens in a new tab).
  </p>
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukNotificationBanner({
      html: notification
    }) }}
  </div>
</div>
