{% macro getRiskLevelText(level) %}
    {% if level == 'VERY_HIGH' %}
    VERY HIGH
    {% elif level == 'HIGH' %}
    HIGH
    {% elif level == 'MEDIUM' %}
    MEDIUM
    {% elif level == 'LOW' %}
    LOW
    {% elif level == 'UNAVAILABLE' %}
    NOT APPLICABLE
    {% else %}
    UNKNOWN
    {% endif %}
{% endmacro %}

{% macro getOgrsBandingClass(level) %}
    {% if level == 'VERY_HIGH' %}
    rosh-widget--very-high
    {% elif level == 'HIGH' %}
    rosh-widget--high
    {% elif level == 'MEDIUM' %}
    rosh-widget--medium
    {% elif level == 'LOW' %}
    rosh-widget--low
    {% endif %}
{% endmacro %}

{% if params %}
    <div class="rosh-widget {{ getOgrsBandingClass(params.scoreLevel) }}">
        <h3 class="govuk-heading-m">
            <strong>{{ getRiskLevelText(params.scoreLevel) }}</strong> OGRS <span>{{ params.twoYears }}%</span></h3>
        <p class="govuk-body-m">Offender group reconviction scale<br>
            <span class="govuk-body-s govuk-hint">Last updated: {{ completedDate | dateFormat | default("Not known") }}</span></p>
    </div>
{% else %}
    <div class="rosh-widget rosh-widget--none">
        <h3 class="govuk-heading-m">No OGRS</h3>
        <p class="govuk-body-m">Offender group reconviction scale<br>
            <span class="govuk-body-s govuk-hint">An OGRS summary has not been completed for this individual. Check NDelius for this person's current assessment status.</span>
        </p>
    </div>
{% endif %}