{% extends "partials/officer-view.njk" %}
{%- from "../components/doubleCell/macro.njk" import doubleCell -%}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set officerName = data.name.combinedName %}
{% set officerGrade =  data.grade %}
{% set officerCode =  data.code %}
{% set officerTotalCases = data.activeCases | length %}

{% set tableData = {
    caption: 'Active cases',
    captionClasses: 'govuk-heading-l',
    attributes: {
        'data-module': 'moj-sortable-table',
        'data-persistent-id': 'active-cases'
    },
    head: [
        { text: 'Name / CRN',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-name-crn'
        }
        },
        { text: 'Tier',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-tier'
        }
        },
        { text: 'Type of case',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-type-of-case'
        }
        }
    ],
    rows: []
} %}

{% for item in cases %}
    {%- set tableRow = [
        {
            text: doubleCell('<strong>' + item.name + '</strong>', item.crn, 'govuk-body-s' ),
            attributes: { "data-sort-value": item.crn }
        },
        { text: item.tier, attributes: { "data-sort-value": item.tierOrder } },
        { text: (item.type | capitalize)}
    ] -%}
    {{ tableData.rows.push(tableRow) }}

{% endfor %}


{% block officerContent %}
    {{ govukTable(tableData) }}
{% endblock %}

