{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set notification %}
<p class="govuk-notification-banner__heading">

  <p class="govuk-body">
     <p class="govuk-body">Allocate a Person on Probation will be unavailable from <strong>8am on Saturday 24 January until 9am on Monday 26 January</strong>. This is due to updates to NDelius.</p>
    {% if featureFlag %}
      <strong>You can now reallocate cases using this service</strong>
      <br/>
    We've made a change to enable the reallocation of cases between practitioners in the same probation delivery unit (PDU).
    <br/>
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href={{"/whats-new"}}>Read more about this change</a>.
    {% else %}
    {% endif %}
  </p>
</p>
{% endset %}

{% set tableRows = [] %}
{% for team in teams %}
  {% if team.workload == '-%' %}
    {{ tableRows.push(
          [
          {
            text: team.teamName
          },
          {
            text: team.workload
          },
          {
            text: team.caseCount
          }
        ])
        }}
  {% else %}
    {{ tableRows.push(
      [
      {
        html: '<a href="/pdu/' + pduCode + '/' + team.teamCode + '/team-workload" class="govuk-link">' + team.teamName + '</a>'
      },
      {
        text: team.workload
      },
      {
        text: team.caseCount
      }
    ])
    }}
  {% endif %}
{% endfor %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukNotificationBanner({
          html: notification
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">{{ regionName }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ pduName }}</h1>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
  </div>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
        If you have empty teams, you can <a class="govuk-link--no-visited-state" href="/pdu/{{pduCode}}/select-teams" data-qa-link="edit-teams">remove them by editing your teams list</a>.
    </strong>
  </div>

  {{ govukTable({
  caption: "Your teams",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  head: [
    {
      text: "Name"
    },
    {
      text: "Workload"
    },
    {
      text: "Cases"
    }
  ],
  rows: tableRows
  })
}}

  {{ govukButton({
    text: "View unallocated cases",
    href: '/pdu/' + pduCode + '/find-unallocated'
  }) }}

  {% if featureFlag %}
    <div class="govuk-!-margin-top-9">
      <h2 class="govuk-heading-l">Reallocating a case</h2>
      <p class="govuk-body">You can <a href="/reallocations" class="govuk-link">reallocate cases between practitioners</a> in the same PDU by searching for the person on probation or viewing a practitioner's active caseload within their team.</p>
    </div>
  {% endif %}
{% endblock %}
