{% extends "partials/layout.njk" %}
{% set offenderManagerName = personDetails.staffForename + ' ' + personDetails.staffSurname %}
{% set addAnotherEmails = [] %}
{% for email in addAnotherEmail %}
    {{ addAnotherEmails.push(email.email) }}
{% endfor %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}


{% block beforeContent %}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                        {{ govukPanel({
                            titleText: "Allocation complete",
                            html: personDetails.personName + " (" + personDetails.crn + ") has been allocated to <strong>" + offenderManagerName + " (" + personDetails.staffGrade + ")</strong>"
                        }) }}

            <h2 class="govuk-heading-m">What happens next</h2>

            <ul class="govuk-list govuk-list--bullet">
                <li>This allocation will be updated in NDelius</li>
                <li><strong>{{ offenderManagerName }}</strong> (<em>{{ personDetails.staffEmail }}</em>) has been notified about this allocation, and we have sent a copy of your allocation instructions to <em>{{ addAnotherEmails | join(", ") }}</em></li>
                {% if caseType === 'CUSTODY' %}
                    <li>No induction interview needed (custody case)</li>
                {% elseif initialAppointment %}
                    <li>The induction interview is scheduled for <strong>{{ initialAppointment | dateFormat }}</strong></li>
                {% else %}
                    <li>The induction interview needs to be scheduled by <strong>{{ initialAppointmentDue }}</strong></li>
                {% endif %}
            </ul>

            <p><a class="govuk-link--no-visited-state" href="/">Return to unallocated cases</a></p>

        </div>
    </div>
{% endblock %}

