{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}

{% set pageTitle = applicationName + " - Allocate" %}
{% set tableData = {
    attributes: {
    'data-module': 'moj-sortable-table'
    },
    head: [
        { text: 'Name',
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Grade',
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Capacity',
            format: "numeric",
            attributes: {
                "aria-sort": "descending"
            }
        },
        { text: 'Community cases',
            format: "numeric",
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Custody cases',
            format: "numeric",
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Select' }
    ],
    rows: []
} %}

{% for item in offenderManagersToAllocate %}
    {%- set tableRow = [
        { html: govukLabel({
            text: item.name,
            for: ('allocated-officer-' + item.code)
          }) },
        { html: ('<div class="tooltip">' + item.grade + '<span class="tooltiptext">' + item.gradeTip + '</span></div>'),
            attributes: {
                "data-sort-value": item.gradeTip
            }
        },
        { text: ((item.capacity | round(1)) + '%'),format: "numeric",
        classes: ('percentage-extra-over' if item.capacity > 100),
            attributes: {
                "data-sort-value": item.capacity
            }
        },
        { text: item.communityCases, format: "numeric",
            attributes: {
                "data-sort-value": item.communityCases
            }
        },
        { text: item.custodyCases, format: "numeric",
            attributes: {
                "data-sort-value": item.custodyCases
            }
        },
        { html: ('<div class="govuk-radios govuk-radios--small"><div class="govuk-radios__item"><input class="govuk-radios__input" id="allocated-officer-' + item.code + '" name="allocated-officer" type="radio" value="' + item.code + '"><label class="govuk-label govuk-radios__label" for="allocated-officer-' + item.code + '"></label></div></div>')
        }
    ] -%}
    {{ tableData.rows.push(tableRow) }}

{% endfor %}


{% set offenderManagerDetails = offenderManager.forenames + ' ' + offenderManager.surname + (' (' + offenderManager.grade + ')' if offenderManager.grade)  %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home"
            },
            {
                text: "Unallocated cases",
                href: "/"
            },
            {
                text: "Case view",
                href: "/" + crn + "/case-view"
            }
        ]
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ name }}
                <span class="govuk-caption-xl">Tier: {{ tier }}</span>
                <span class="govuk-caption-xl">CRN: {{ crn }}</span>
            </h1>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Allocate to a probation practitioner <br>in Wrexham</h2>

    {% if probationStatus == 'Currently managed' and offenderManager %}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                {{ name }} is currently managed by {{ offenderManagerDetails }}.
            </strong>
        </div>
    {% endif %}
    <form method="post">
    {{ govukTable(tableData) }}
    {{ govukButton({
  text: 'Allocate case'
}) }}
    </form>

{% endblock %}

