{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}


{% set pageTitle = applicationName + " - Allocate" %}
{% set tableData = {
    attributes: {
    'data-module': 'moj-sortable-table'
    },
    head: [
        { text: 'Name',
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Grade',
            attributes: {
                "aria-sort": "descending"
            }
        },
        { text: 'Capacity',
            format: "numeric",
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Community cases',
            format: "numeric",
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Custody cases',
            format: "numeric",
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Workload details' },
        { text: 'Select' }
    ],
    rows: []
} %}

{% for item in offenderManagersToAllocate %}
    {%- set tableRow = [
        { html: govukLabel({
            text: item.name,
            for: ('allocated-officer-' + item.staffId)
          }) },
        { html: ('<div class="tooltip">' + item.grade + '<span class="tooltiptext">' + item.gradeTip + '</span></div>'),
            attributes: {
                "data-sort-value": item.gradeOrder
            }
        },
        { text: ((item.capacity | round(1)) + '%'),format: "numeric",
        classes: ('percentage-extra-over' if item.capacity > 100),
            attributes: {
                "data-sort-value": item.capacity
            }
        },
        { text: item.communityCases, format: "numeric",
            attributes: {
                "data-sort-value": item.communityCases
            }
        },
        { text: item.custodyCases, format: "numeric",
            attributes: {
                "data-sort-value": item.custodyCases
            }
        },
        { text: ('<a href="/' + crn + '/convictions/' + convictionId + '/allocate/' + item.code + '/officer-view" class="govuk-link--no-visited-state" aria-label="View">' + "View" + '</a>' ) | safe, classes: "govuk-!-text-align-centre"},
        { html: ('<div class="govuk-radios govuk-radios--small"><div class="govuk-radios__item"><input class="govuk-radios__input" id="allocated-officer-' + item.staffId + '" name="allocatedOfficer" type="radio" value="' + item.staffId + '"><label class="govuk-label govuk-radios__label" for="allocated-officer-' + item.staffId + '"></label></div></div>')
        }
    ] -%}
    {{ tableData.rows.push(tableRow) }}

{% endfor %}


{% set offenderManagerDetails = offenderManager.forenames + ' ' + offenderManager.surname + (' (' + offenderManager.grade + ')' if offenderManager.grade)  %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home"
            },
            {
                text: "Unallocated cases",
                href: "/"
            },
            {
                text: "Case view",
                href: "/" + crn + "/convictions/" + convictionId + "/case-view"
            }
        ]
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ name }}
                <span class="govuk-caption-xl">Tier: {{ tier }}</span>
                <span class="govuk-caption-xl">CRN: {{ crn }}</span>
            </h1>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Allocate to a probation practitioner <br>in Wrexham</h2>

    {% if probationStatus == 'Currently managed' and offenderManager %}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                {{ name }} is currently managed by {{ offenderManagerDetails }}.
            </strong>
        </div>
    {% endif %}

    {% if probationStatus == 'Previously managed' and offenderManager %}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                {{ name }} has been previously managed by {{ offenderManagerDetails }}.
            </strong>
        </div>
    {% endif %}


    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% if error %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                    text: "Select a probation practitioner"
                    }
                ]
            }) }}
        {% endif %}

        {{ govukTable(tableData) }}
        <div class="govuk-button-group">
                {{ govukButton({
            text: 'Allocate case'
            }) }}
            <a class="govuk-button govuk-button--secondary" href="{{'/' + crn + '/convictions/' + convictionId + '/allocate'}}">Clear selection </a>
        </div>
    </form>


{% endblock %}

