{% extends "partials/layout.njk" %}
{% set offenderManagerName = personDetails.staffForename + ' ' + personDetails.staffSurname %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}


{% block beforeContent %}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                        {{ govukPanel({
                            titleText: "Allocation complete",
                            html: personName + " (" + crn + ") has been allocated to <strong>" + offenderManagerName + " (" + personDetails.staffGrade + ")</strong>"
                        }) }}

            <h2 class="govuk-heading-m">What happens next</h2>

            <ul class="govuk-list govuk-list--bullet">
                <li>this case will be updated in NDelius within 5 minutes</li>
                <li>you'll need to create a Management Oversight contact separately</li>
                <li><strong>{{ offenderManagerName }}</strong> (<em>{{ personDetails.staffEmail }}</em>) has been notified
                {{- ", and we've sent you a copy of your allocation instructions" if sendEmailCopyToAllocatingOfficer and not otherEmails | length}}
                {{- ', and we have sent a copy of your allocation instructions to ' + ('you and ' if sendEmailCopyToAllocatingOfficer) + otherEmails | join(", ")  if otherEmails | length }}</li>
                {% if caseType === 'CUSTODY' %}
                    <li>no initial appointment needed (custody case)</li>
                {% elseif initialAppointment %}
                    <li>the initial appointment is scheduled for <strong>{{ initialAppointment | dateFormat }}</strong></li>
                {% else %}
                    <li>no date found for the initial appointment, please check with your team</li>
                {% endif %}
            </ul>

            <p><a class="govuk-link--no-visited-state" href="/team/{{ teamCode }}/cases/unallocated">Return to unallocated cases</a></p>

        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script nonce="{{ cspNonce }}">
        localStorage.removeItem('instructions-save-{{ crn }}-{{ convictionNumber }}')
    </script>
{% endblock %}
