{% extends "partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../components/pop/macro.njk" import pop %}
{% from "../components/instructions/macro.njk" import instructionsForm %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set offenderManagerDetails = data.staff.name.combinedName + (' (' + data.staff.grade + ')' if data.staff.grade) %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/pdu/" + pduCode + "/teams"
            },
            {
                text: "Unallocated cases",
                href: "/pdu/" + pduCode + "/find-unallocated"
            },
            {
                text: "Case details",
                href: "/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/case-view"
            },
            {
               text: "Choose practitioner",
                href: "/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/choose-practitioner"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
        You're allocating {{name}} to {{ offenderManagerDetails }}</h1>
            {% if true == laoCase %}
                <span class="govuk-body govuk-tag--orange govuk-!-margin-top-2 govuk-!-margin-bottom-0 govuk-!-display-inline-block">Restricted access</span>
            {% endif %}
        </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    {{ pop({name: name, crn: crn, tier: tier, provisionalTier: provisionalTier, popSize: 'lg', laoCase: laoCase}) }}

    <div class="govuk-grid-row -margin-top-40">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
            <h3 id="cleared" class="govuk-heading-m">Having considered the tier, risk scores and complexity of the case, if you're happy that this practitioner has the capabilities to manage it,  select ‘Continue’.</h3>
            <p class="-margin-bottom-10 govuk-body">If not, select ‘Choose a different probation practitioner’.</p>
        </div>
    </div>
    <form data-validate-form="case-view">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ instructionsForm({
            inGridRow: true,
            convictionNumber: convictionNumber,
            crn: crn,
            errorMessage: errors | findError('instructions'),
            rows: 10,
            laoCase: laoCase,
            instructions: instructions
        })
    }}
        <div class="govuk-form-group govuk-!-margin-top-7">
            <div class="govuk-button-group">
                {{ govukButton({
                text: "Continue",
                href: "/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/allocate/" + staffTeamCode +  "/" + staffCode +  "/allocation-notes",
                classes: "allocate",
                id: convictionNumber,
                disabled: outOfAreaTransfer,
                attributes: {
                    'data-form-submit': undefined
                    }
                })
            }}
                <a class="govuk-link govuk-link--no-visited-state" href={{"/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/choose-practitioner"}}>Choose a different probation practitioner</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script src="/assets/validator.js"></script>
    <script src="/assets/validation.js"></script>
{% endblock %}
