{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - Allocate" %}


{% block content %}

            <h1 class="govuk-heading-xl">Allocate</h1>
            <p class="govuk-body">Under construction.</p>

{% endblock %}
