{% extends "../partials/layout.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}


{% block content %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">Allocations</span>
            <h1 class="govuk-heading-xl">Cases that need allocation</h1>
          </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-!-margin-bottom-6 govuk-body-l">
                        Allocate a Person Probation (Allocations) is a service that allows senior probation officers to allocate a person on probation to a probation practitioner.
                </div>
                <div class="govuk-body-m">
                    <p>
                        As this is your first time signing in to the service, you need to select the teams you allocate cases to. This includes:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>teams you manage</li>
                        <li>teams you allocate to when on duty</li>
                    </ul>
                    <p>
                        You can edit your teams list at any time.
                    </p>
                </div>
                <h2 class="govuk-heading-l">Unallocated cases</h2>
                <div class="govuk-body-m govuk-!-margin-bottom-7">
                    <p>
                        Once you've picked the teams you allocate to, you'll be able to view cases awaiting allocation. 
                    </p>
                    <p>
                        Use the filters to see the unallocated cases in any team within a probation delivery unit.
                    </p>
                </div>

                {{ govukButton({
                text: "Start now",
                href: "/regions",
                isStartButton: true
                }) }}
            </div>
        </div>

     
{% endblock %}

