{% extends "partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../components/pop/macro.njk" import pop %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home"
            },
            {
                text: "Unallocated cases",
                href: '/pdu/' + pduCode + '/find-unallocated' 
            }
        ]
    }) }}

{% endblock %}

{% block content %}
    {{ pop({name: name, crn: crn, tier: tier, laoCase: laoCase}) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">This case has already been allocated</h2>
            <p class="govuk-body">
                <a class="govuk-link--no-visited-state" href="{{'/pdu/' + pduCode + '/find-unallocated'}}" data-qa-link="return-to-unallocated">Return to unallocated cases</a>
            </p>
        </div>
    </div>

{% endblock %}