{% extends "partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home"
            },
            {
                text: "Unallocated cases",
                href: '/team/' + teamCode + '/cases/unallocated' 
            }
        ]
    }) }}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ data.personOnProbationFirstName + ' ' + data.personOnProbationSurname }}
                <span class="govuk-caption-xl">Tier: {{ data.tier }}</span>
                <span class="govuk-caption-xl">CRN: {{ crn }}</span>
            </h1>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">This case has already been allocated</h2>
            <p><a class="govuk-link--no-visited-state" href="{{'/team/' + teamCode + '/cases/unallocated'}}" data-qa-link="return-to-unallocated">Return to unallocated cases</a></p>
        </div>
    </div>

{% endblock %}