{% extends "../partials/allocation-view.njk" %}
{%- from "govuk/components/tabs/macro.njk" import govukTabs -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{%- from "../components/doubleCell/macro.njk" import doubleCell -%}
{%- from "../components/allocatedCaseDisplay/macro.njk" import allocatedCaseDisplay -%}

{% set govukTabItems = [] -%}

{% set tableData = {
        firstCellIsHeader: true,
        head: [
            { text: 'Name / CRN',
                attributes: {
                    "aria-sort": "none",
                    'data-persistent-id': 'allocation-history-cases-name-crn'
                } 
            },
            { text: 'Tier',
                attributes: {
                    "aria-sort": "none",
                    'data-persistent-id': 'allocation-history-cases-tier'
                } 
            },
            { text: 'Date allocated',
                attributes: {
                    "aria-sort": "none",
                    'data-persistent-id': 'allocation-history-cases-date-allocated'
                } 
            },
            { text: 'Probation Practitioner',
                attributes: {
                    "aria-sort": "none",
                    'data-persistent-id': 'allocation-history-cases-probation-practitioner'
                } 
            },
            { text: 'Allocated by',
                attributes: {
                    "aria-sort": "none",
                    'data-persistent-id': 'allocation-history-cases-allocated-by'
                } 
            }
        ],
        rows: []
    } %}

{% for item in allocatedCases %}
    {% if item.apopExcluded == true %}
        {%- set tableRow = [
                    {
                        text: allocatedCaseDisplay(item, pduCode),
                        attributes: { "data-sort-value": item.crn }
                    },
                    { text: 'This is a restricted access case. Check NDelius if you require access or further information.', attributes: { "data-sort-value": item.tierOrder }, colspan: 5 }
                ] -%}
    {% else %}
        {%- set tableRow = [
            { text: doubleCell(item.name, item.crn, 'govuk-body-s'),
              attributes: { "data-sort-value": item.crn } },
            { text: item.tier, attributes: { "data-sort-value": item.tier } },
            { text: (item.allocationDate | dateFormat), attributes: { "data-sort-value": item.allocationDate } },
            { html: govukLabel({
                text: ('<a href="/pdu/'+ item.pduCode +'/' + item.crn + '/convictions/' + 1 + '/allocate/' + item.team + '/' + item.staffCode + '/officer-view" class="govuk-link--no-visited-state" data-qa-link="' + item.staffCode + '" aria-label="View">' + item.staffName + '</a>' ) | safe,
                for: ('allocated-officer-' + item.staffCode)
            }), attributes: { "data-sort-value": item.staffName } },
            { text: item.allocatedBy, attributes: { "data-sort-value": item.allocatedBy } }
        ] -%}
    {% endif %}
    {{ tableData.rows.push(tableRow) }}
{% endfor %}

{% set teamTabItem = {
        label: 'All cases',
        id: 'allCases',
        panel: {
            html: govukTable(tableData)
        }
    } -%}
{{ govukTabItems.push(teamTabItem) }}

{% for team in teams %}
    {% set tableData = {
        firstCellIsHeader: true,
        head: [
            { text: 'Name / CRN',
                attributes: {
                    "aria-sort": "none",
                    'data-persistent-id': 'allocation-history-cases-name-crn'
                } 
            },
            { text: 'Tier',
                attributes: {
                    "aria-sort": "none",
                    'data-persistent-id': 'allocation-history-cases-tier'
                } 
            },
            { text: 'Date allocated',
                attributes: {
                    "aria-sort": "none",
                    'data-persistent-id': 'allocation-history-cases-date-allocated'
                } 
            },
            { text: 'Probation Practitioner',
                attributes: {
                    "aria-sort": "none",
                    'data-persistent-id': 'allocation-history-cases-probation-practitioner'
                } 
            },
            { text: 'Allocated by',
                attributes: {
                    "aria-sort": "none",
                    'data-persistent-id': 'allocation-history-cases-allocated-by'
                } 
            }
        ],
        rows: []
    } %}

    {% for item in allocatedCasesByTeam[team.code] %}
        {% if item.apopExcluded == true %}
            {%- set tableRow = [
                            {
                                text: allocatedCaseDisplay(item, pduCode),
                                attributes: { "data-sort-value": item.crn }
                            },
                            { text: 'This is a restricted access case. Check NDelius if you require access or further information.', attributes: { "data-sort-value": item.tierOrder }, colspan: 5 }
                        ] -%}
        {% else %}
            {%- set tableRow = [
                { text: doubleCell(item.name, item.crn, 'govuk-body-s'),
                  attributes: { "data-sort-value": item.crn } },
                { text: item.tier, attributes: { "data-sort-value": item.tier } },
                { text: (item.allocationDate | dateFormat), attributes: { "data-sort-value": item.allocationDate } },
                { html: govukLabel({
                    text: ('<a href="/pdu/'+ item.pduCode +'/' + item.crn + '/convictions/' + 1 + '/allocate/' + item.team + '/' + item.staffCode + '/officer-view" class="govuk-link--no-visited-state" data-qa-link="' + item.staffCode + '" aria-label="View">' + item.staffName + '</a>' ) | safe,
                    for: ('allocated-officer-' + item.staffCode)
                }), attributes: { "data-sort-value": item.staffName } },
                { text: item.allocatedBy, attributes: { "data-sort-value": item.allocatedBy } }
            ] -%}
        {% endif %}
        {{ tableData.rows.push(tableRow) }}
    {% endfor %}

    {% set teamTabItem = {
        label: team.name,
        id: team.code,
        panel: {
            html: govukTable(tableData)
        }
    } -%}
    {{ govukTabItems.push(teamTabItem) }}
{% endfor %}

{% block allocationContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Cases allocated through the Allocations tool in the last 30 days</h2>
            <p class="govuk-body-s secondary-text-col" style="margin: -25px 0 30px;">Last updated: {{ lastUpdatedOn | dateFormat }} at {{ lastUpdatedOn | timeFormat }}</p>

            <div class="moj-scrollable-pane">
                <div class="moj-scrollable-pane__wrapper">
                    {{ govukTabs({ items: govukTabItems }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}