{% extends "partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{% from "../components/instructions/macro.njk" import instructions %}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}

{% set pageTitle = applicationName + " - Case view" %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home"
            },
            {
                text: "Unallocated cases",
                href: "/"
            },
            {
                text: "Case view",
                href: "/" + crn + "/convictions/" + convictionId + "/case-view"
            },
            {
                text: "Allocate to probation practitioner",
                href: "/" + crn + "/convictions/" + convictionId + "/allocate"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ data.name or name }}
                <span class="govuk-caption-xl">Tier: {{ data.tier or tier }}</span>
                <span class="govuk-caption-xl">CRN: {{ data.crn or crn }}</span>
            </h1>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div data-module="moj-add-another">
<form action="{{ '/' + crn + '/convictions/' + convictionId + '/allocate/' + staffId + '/confirm-allocation' }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{
    instructions({
        titleText: "Review allocation instructions",
        hintText: "Review the notes you have made before sending to the probation practitioner.",
        convictionId: convictionId
    })
    }}


    <div class="govuk-inset-text govuk-!-margin-bottom-7">
        <p>These notes will automatically be sent to <br>{{ data.forename +  ' ' + data.surname }} (<em>{{ data.email }}</em>)</p>
    </div>

    <p id='copyText'>You can also send a copy of the notes to another recipient, for example your case admin officer.</p>
 {% if emails.length === 0 %}
{% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Add a recipient',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}
    
    {{ govukInput({
      id: 'person[0][email]',
      name: 'person[0][email]',
      label: {
        text: 'Email address',
        classes: 'govuk-!-font-weight-bold'
      },
      type: "email",
      autocomplete: "email",
      spellcheck: false,
      attributes: {
        'data-name': 'person[%index%][email]',
        'data-id': 'person[%index%][email]'
      }
    }) }}

    {% endcall %}
    {% endif %}

    {% for email in emails %}

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Add a recipient',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

    {% if emails.length > 1 %}
      <button type="button" class="govuk-button govuk-button--secondary moj-add-another__remove-button">Remove</button>
    {% endif %}
    
    {{ govukInput({
      id: 'person[' +loop.index0 +'][email]',
      name: 'person[' +loop.index0 +'][email]',
      label: {
        text: 'Email address',
        classes: 'govuk-!-font-weight-bold'
      },
      type: "email",
      autocomplete: "email",
      spellcheck: false,
      value: email.email,
      errorMessage: errors | findError('person[' +loop.index0 +'][email]'),
      attributes: {
        'data-name': 'person[%index%][email]',
        'data-id': 'person[%index%][email]'
      }
    }) }}

    {% endcall %}

    {% endfor %}

<div class="moj-button-action">
      {{ govukButton({
        text: 'Add another person',
        name: 'action',
        value: 'add-another-person',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>


    <div class="govuk-button-group">
        {{
            govukButton({
                text: 'Continue',
                classes: 'allocate',
                type: 'submit',
                name: 'action',
                value: 'continue',
                attributes: {
                    id: convictionId
                }
            })
        }}
        <a class="govuk-link" href="{{ '/' + crn + '/convictions/' + convictionId + '/allocate' }}">Cancel</a>
    </div>
</form>
</div>

{% endblock %}

