{% extends "partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}


{% set offenderManagerDetails = data.forename + ' ' + data.surname + (' (' + data.grade + ')' if data.grade)  %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home"
            },
            {
                text: "Unallocated cases",
                href: "/"
            },
            {
                text: "Case view",
                href: "/" + crn + "/convictions/" + convictionId + "/case-view"
            },
            {
               text: "Allocate to probation practitioner",
                href: "/" + crn + "/convictions/" + convictionId + "/allocate"
            }
        ]
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ name }}
                <span class="govuk-caption-xl">Tier: {{ tier }}</span>
                <span class="govuk-caption-xl">CRN: {{ crn }}</span>
            </h1>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">You are allocating probation practitioner {{ offenderManagerDetails }} to this case.</h2>
    <p id="impact-statement">This will change their workload capacity from <span class="{{ 'percentage-extra-over' if data.capacity > 100 }}">{{ data.capacity | round(1)}}%</span> to <span class="{{ 'percentage-extra-over' if data.potentialCapacity > 100 }}">{{ data.potentialCapacity | round(1) }}%</span>.</p>
    <div class="govuk-form-group govuk-!-margin-top-9">
        <div class="govuk-button-group">
          <a class="govuk-button" href="{{ '/' + crn + '/convictions/' + convictionId + '/allocate/' + staffCode +  '/instructions' }}">Continue</a>
          <a class="govuk-link govuk-link--no-visited-state" href="{{ '/' + crn + '/convictions/' + convictionId + '/allocate' }}">Choose a different probation practitioner</a>
        </div>
      </div>
{% endblock %}

