{% extends "partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{%- from "govuk/components/select/macro.njk" import govukSelect -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../components/instructions/macro.njk" import instructions %}
{% from "../components/pop/macro.njk" import pop %}


{% set emailCheckbox %}
{{ govukCheckboxes({
    name: 'emailCopy',
    items: [{
        value: 'no',
        text: 'Tick the box if you do not want to receive a copy.',
        checked: confirmInstructionForm.emailCopy
    }],
    classes: 'govuk-checkboxes--small'
})}}
{% endset %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home"
            },
            {
                text: "Unallocated cases",
                href: "/pdu/" + pduCode + "/find-unallocated"
            },
            {
                text: "Case details",
                href: "/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/case-view"
            },
            {
                text: "Allocate to probation practitioner",
                href: "/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/choose-practitioner"
            }
        ]
    }) }}
    {% if errors | length > 0 %}
      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
      }) }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ pop({name: name, crn: crn, tier: tier}) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <form action="{{ '/pdu/' + pduCode + '/' + crn + '/convictions/' + convictionNumber + '/allocate/' + staffTeamCode + '/' + staffCode + '/confirm-allocation' }}" method="POST">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{
            instructions({
                titleText: "Review allocation instructions",
                html: ('<p>We\'ll send a copy of these notes to you and <br><strong>' + data.staff.name.combinedName + '</strong> (<em>' + data.staff.email + '</em>).</p><div class="govuk-!-margin-bottom-5">' + emailCheckbox + '</div>') | safe,
                hintText: "Review your notes for the probation practitioner.",
                convictionNumber: convictionNumber,
                crn: crn,
                inGridRow: false,
                rows: 20
            })
            }}
            <p id='copyText'>You can send a copy of these notes to another person, for example a case admin officer.</p>
        </div>
        <div class="govuk-form-group">
        {% if confirmInstructionForm.person.length === 0 %}
        {% call govukFieldset({
          classes: 'moj-add-another__item',
              legend: {
                text: 'Add another recipient',
                classes: 'moj-add-another__title govuk-fieldset__legend--m',
                isPageHeading: false
              }
            }) %}
            <noscript>
              {{ govukInput({
              id: 'person[0][email]',
              name: 'person[0][email]',
              label: {
                text: 'Email address',
                classes: 'govuk-!-font-weight-bold'
              },
              type: "email",
              autocomplete: "email",
              spellcheck: false
            }) }}
            </noscript>
            {{ govukSelect({
              id: 'person[0][email]',
              name: 'person[0][emailPlaceholder]',
              items: [],
              classes: 'hidden',
              label: {
                text: 'Email address',
                classes: 'govuk-!-font-weight-bold'
              }
            }) }}

            {% endcall %}
            {% endif %}
            {% for person in confirmInstructionForm.person %}

              {% call govukFieldset({
                classes: 'moj-add-another__item',
                legend: {
                  text: 'Add another recipient',
                  classes: 'moj-add-another__title govuk-fieldset__legend--m',
                  isPageHeading: false
                }
              }) %}

                {% if confirmInstructionForm.person.length > 1 %}
                {{ govukButton({
                    text: 'Remove',
                    type: 'submit',
                    name: 'remove',
                    value: loop.index0,
                    classes: 'govuk-button govuk-button--secondary  moj-add-another__remove-button'
                  }) }}
                {% endif %}
                
                <noscript>
                  {{ govukInput({
                  id: 'person[' +loop.index0 +'][email]',
                  name: 'person[' +loop.index0 +'][email]',
                  label: {
                    text: 'Email address',
                    classes: 'govuk-!-font-weight-bold'
                  },
                  type: "email",
                  autocomplete: "email",
                  spellcheck: false,
                  value: person.email,
                  errorMessage: errors | findError('person[' +loop.index0 +'][email]')
                }) }}
                </noscript>

                {{ govukSelect({
                  id: 'person[' +loop.index0 +'][email]',
                  name: 'person[' +loop.index0 +'][emailPlaceholder]',
                  classes: 'hidden',
                  label: {
                    text: 'Email address',
                    classes: 'govuk-!-font-weight-bold'
                  },
                  items: [ {
                    value: person.email,
                    text: person.email,
                    selected: true
                  }],
                  errorMessage: errors | findError('person[' +loop.index0 +'][email]')
                }) }}

              {% endcall %}

            {% endfor %}

            <div class="moj-button-action">
                  {{ govukButton({
                    text: 'Add another person',
                    type: 'submit',
                    name: 'action',
                    value: 'add-another-person',
                    classes: 'govuk-button--secondary govuk-!-margin-bottom-4 govuk-!-margin-top-3'
                  }) }}
            </div>


            <div class="govuk-button-group">
                {{
                    govukButton({
                        text: 'Allocate case',
                        classes: 'allocate',
                        type: 'submit',
                        name: 'action',
                        value: 'continue',
                        preventDoubleClick: true,
                        attributes: {
                            id: convictionNumber
                        }
                    })
                }}
                <a class="govuk-link" href="{{ '/pdu/' + pduCode + '/' + crn + '/convictions/' + convictionNumber + '/choose-practitioner' }}">Cancel</a>
          
        </div>
      </form>
    </div>
  </div>    
</div>

{% endblock %}


{% block javascripts %}
    <script src="/assets/accessible-autocomplete.min.js"></script>
    <script id="autocomplete-script" src="/assets/js/autocomplete-email.js" {%- if scrollToBottom %} data-scroll-to-bottom="true" {% endif %}></script>
{% endblock %}
