{% extends "partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../components/pop/macro.njk" import pop %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set offenderManagerDetails = data.staff.name.combinedName + (' (' + data.staff.grade + ')' if data.staff.grade)  %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home"
            },
            {
                text: "Unallocated cases",
                href: "/pdu/" + pduCode + "/find-unallocated"
            },
            {
                text: "Case details",
                href: "/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/case-view"
            },
            {
               text: "Choose practitioner",
                href: "/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/choose-practitioner"
            },
            {
               text: "Allocate to practitioner",
                href: "/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/allocate-to-practitioner"
            }
        ]
    }) }}
{% endblock %}

{% block content %}

    {{ pop({name: name, crn: crn, tier: tier}) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Explain why you're allocating this case to {{ offenderManagerDetails }}</h2>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{ govukTextarea({
                    name: "evidenceText",
                    id: "evidenceText",
                    hint: {
                        text: "Evidence your decision with details of their knowledge, skills, experience and training"
                    }
                    }) 
                }}

                {{ govukRadios({
                    name: "isSensitive",
                    fieldset: {
                        legend: {
                        text: "Does this decision contain sensitive information?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        text: "This is information that would cause harm or undermine the investigation of a crime if it were disclosed to a person on probation. For example, a victim's personal details."
                    },
                    items: [
                        {
                        value: "true",
                        text: "Yes, it includes sensitive information"
                        },
                        {
                        value: "false",
                        text: "No, it's not sensitive"
                        }
                    ]
                    }) 
                }}

                <div class="govuk-button-group">
                    {{
                        govukButton({
                            text: 'Continue',
                            type: 'submit',
                            name: 'action',
                            value: 'continue',
                            preventDoubleClick: true
                        })
                    }}
                    <a class="govuk-link" href="{{ '/pdu/' + pduCode + '/' + crn + '/convictions/' + convictionNumber + '/choose-practitioner' }}">Cancel</a>
                    
                </div>
            </form>
        </div>
    </div>
{% endblock %}

