{% extends "partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../components/pop/macro.njk" import pop %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set offenderManagerDetails = data.staff.name.combinedName + (' (' + data.staff.grade + ')' if data.staff.grade) %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/pdu/" + pduCode + "/teams"
            },
            {
                text: "Unallocated cases",
                href: "/pdu/" + pduCode + "/find-unallocated"
            },
            {
                text: "Case details",
                href: "/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/case-view"
            },
            {
               text: "Choose practitioner",
                href: "/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/choose-practitioner"
            },
            {
               text: "Allocate to practitioner",
               href: "/pdu/" + pduCode + "/" + crn + "/convictions/" + convictionNumber + "/allocate/" + staffTeamCode + '/' + staffCode + "/allocate-to-practitioner"
            }
        ]
    }) }}

    {% if errors | length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
      }) }}
    {% endif %}
{% endblock %}

{% block content %}

    {{ pop({name: name, crn: crn, tier: tier}) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Explain why you're allocating this case to {{ offenderManagerDetails }}</h2>
            <form method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" data-validate-form="decision-evidence">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{ govukCharacterCount({
                    name: "evidenceText",
                    id: "evidenceText",
                    maxlength: 3500,
                    hint: {
                        text: "Show that this practitioner has the knowledge, skills, experience, and training to manage this case"
                    },
                    errorMessage: errors | findError('evidenceText'),
                    value: decisionEvidenceForm.evidenceText
                    }) 
                }}

                {{ govukRadios({
                    name: "isSensitive",
                    fieldset: {
                        legend: {
                        text: "Does this decision contain sensitive information?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        text: "This is information that would cause harm or undermine the investigation of a crime if it were disclosed to a person on probation. For example, a victim's personal details."
                    },
                    items: [
                        {
                        value: "true",
                        text: "Yes, it includes sensitive information",
                        checked: decisionEvidenceForm.isSensitive == true
                        },
                        {
                        value: "false",
                        text: "No, it's not sensitive",
                        checked: (decisionEvidenceForm.isSensitive and decisionEvidenceForm.isSensitive == false)
                        }
                    ],
                    errorMessage: errors | findError('isSensitive')
                    }) 
                }}

                <div class="govuk-button-group">
                    {{
                        govukButton({
                            text: 'Continue',
                            type: 'submit',
                            name: 'action',
                            value: 'continue',
                            preventDoubleClick: true,
                            attributes: {
                                'data-form-submit': undefined
                            }
                        })
                    }}
                    <a class="govuk-link" href="{{ '/pdu/' + pduCode + '/' + crn + '/convictions/' + convictionNumber + '/choose-practitioner' }}">Cancel</a>

                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/validator.js"></script>
    <script src="/assets/validation.js"></script>
{% endblock %}