{% extends "../partials/layout.njk" %}

{% block content %}
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">Try reloading the page. You can do this by pressing F5 (on a PC) or Cmd + R (on a Mac). </p>
    <h2 class="govuk-heading-m"> If you were near the end of allocating a case</h2>
    <p class="govuk-body"> If you've tried reloading the page and you still see this error message, check NDelius to see whether the case has been allocated. </p>
{% endblock %}
