{% extends "../partials/layout.njk" %}

{% block content %}
    <h1 class="govuk-heading-l">The service has encountered a problem</h1>
    <p class="govuk-body">If you typed the web address, check it is correct. If you pasted the web address, check you copied the entire address.</p>
    <p class="govuk-body">If you see this error frequently, email the <a href="mailto:manworkforce@justice.gov.uk">Manage a Workforce team</a> with details of the issue. </p>
{% endblock %}