{% extends "../partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">This service is temporarily unavailable</h1>
  <p class="govuk-body">There is a problem with another service that Allocate a Person on Probation relies upon.</p>
  <p class="govuk-body">Try reloading the page. You can do this by pressing F5 (on a PC), or Cmd + R (on a Mac).</p>
  <p class="govuk-body">If the page still does not load, try again later.</p>
{% endblock %}
