{% extends "../partials/layout.njk" %}

{% block content %}
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">Please try again later.</p>
{% endblock %}
