{% extends "partials/layout.njk" %}

{% block content %}
    <h1 class="govuk-heading-l">You can no longer access this case.</h1>
    <p class="govuk-body">This is now a restricted access case</p>
    <p class="govuk-body">You can <a class="govuk-link home" href="/">go to the homepage</a> to find the information you need.</p>
{% endblock %}