{% extends "../partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/pdu/" + pduCode + "/teams"
            },
            {
                text: "Unallocated cases",
                href: "/pdu/" + pduCode + "/find-unallocated"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l" id="forbidden-header">You do not have permission to perform this action</h1>
    <p class="govuk-body" id="forbidden-message">If you think you should have permission, email the <a href="mailto:manworkforce@justice.gov.uk">Manage a Workforce team</a>.</p>
{% endblock %}