{% extends "../partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "govuk/components/warning-text/macro.njk" import govukWarningText -%}
{%- from "govuk/components/select/macro.njk" import govukSelect -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "../components/doubleCell/macro.njk" import doubleCell -%}

{% set tableData = {
    attributes: {
    'data-module': 'moj-sortable-table'
    },
    head: [
        { text: 'Name / CRN',
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Tier',
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Sentence date',
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Initial appointment date',
            attributes: {
                "aria-sort": "none"
            }
        },
        { text: 'Probation status',
            attributes: {
                "aria-sort": "none"
            }
        }
    ],
    rows: []
} %}

{% for item in unallocatedCases %}
    {%- set tableRow = [
        { text: doubleCell('<a href="/team/' + teamCode +'/' + item.crn + '/convictions/' + item.convictionNumber +'/case-view" " class="govuk-link--no-visited-state" aria-label="Review case" data-qa-link="' + item.crn + '-' + item.convictionNumber +'"">' +  item.name + '</a>', item.crn, 'govuk-body-s' )},
        { text: item.tier, attributes: { "data-sort-value": item.tierOrder } },
        { text: (item.sentenceDate | dateFormat), attributes: {
            "data-sort-value": item.sentenceDate
        } },
        { text: doubleCell(item.primaryInitialAppointment,item.secondaryInitialAppointment, 'maw-secondary' )},
        { text: doubleCell(item.primaryStatus, item.secondaryStatus, 'govuk-body-s')}
    ] -%}
    {{ tableData.rows.push(tableRow) }}

{% endfor %}

{% block content %}

        {% if errors | length > 0 %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors
                }) }}
        {% endif %}

        <div class="govuk-grid-row govuk-!-padding-bottom-5">
          <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">Unallocated Cases</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">{{ pduDetails.region.name }}</h1>
            <a class="govuk-body-s govuk-link--no-visited-state" data-qa-link="select-teams" href="/probationDeliveryUnit/{{pduDetails.code}}/select-teams">Edit my teams list</a>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {{ mojSubNavigation({
              label: 'Sub navigation',
              items: [{
                text: 'Unallocated community cases' +  (' (' + casesLength | getCaseCount + ')' if casesLength) ,
                href: '#',
                active: true
              }]
            }) }}
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Unallocated community cases</h2>
            <p>Use the filters to see the unallocated cases in any team within your Probation Delivery Unit.</p>
            <div class="govuk-filter-background govuk-!-margin-bottom-7">
              <div class="moj-filter__selected-heading">
                <div class="moj-filter__heading-title">
                  <h2 class="govuk-heading-m">Select a team to view unallocated cases</h2>
                </div>
              </div>

              <form method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{ govukSelect({
                  id: "pdu",
                  name: "pdu",
                  classes: "govuk-select--overflow",
                  formGroup: {
                    classes: "govuk-select--inline"
                  },
                  label: {
                    text: "Probation delivery unit (PDU)"
                  },
                  items: pduOptions,
                  errorMessage: errors | findError('pdu')
                })
                }}

                {{ govukSelect({
                  id: "ldu",
                  name: "ldu",
                  classes: "govuk-select--overflow",
                  formGroup: {
                    classes: "govuk-select--inline"
                  },
                  label: {
                    text: "Local delivery unit (LDU)"
                  },
                  items: lduOptions,
                  errorMessage: errors | findError('ldu')
                })
                }}

                {{ govukSelect({
                  id: "team",
                  name: "team",
                  classes: "govuk-select--overflow",
                  formGroup: {
                    classes: "govuk-select--inline"
                  },
                  label: {
                    text: "Team"
                  },
                  items: teamOptions,
                  errorMessage: errors | findError('team')
                })
                }}

                <div class="govuk-button-group">
                  {{ govukButton({
                      text: "Save and view selection"
                  }) }}
                  <a class="govuk-link" href="/probationDeliveryUnit/{{pduDetails.code}}/clear-find-unallocated">Clear</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="moj-scrollable-pane govuk-!-margin-bottom-9">
          <div class="moj-scrollable-pane__wrapper">
            {% if casesLength %}
              {{ govukTable(tableData) }}
            {% endif %}
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Other types of cases</h2>
            {{ govukWarningText({
               text: "You must also check NDelius for any other cases that need to be allocated.",
               iconFallbackText: "Warning"
            }) }}
          </div>
        </div>

{% endblock %}


{% block javascripts %}
    <script nonce="{{ cspNonce }}">
        var dropDownSelectionData = {{ dropDownSelectionData | safe }}
        window.onload = function() {
          var pduSelect = document.getElementById("pdu")
          var lduSelect = document.getElementById("ldu")
          var teamSelect = document.getElementById("team")

          pduSelect.onchange = function() {
            lduSelect.length = 1
            teamSelect.length = 1
            if(this.value) {
              Object.entries(dropDownSelectionData[this.value].ldus)
              .sort(([aKey,aValue],[bKey,bValue]) => aValue.name >= bValue.name ? 1 : 0)
              .forEach(([key, value]) => lduSelect.options[lduSelect.options.length] = new Option(value.name, key))
            }
          }

          lduSelect.onchange = function() {
            teamSelect.length = 1
            if(this.value) {
              dropDownSelectionData[pduSelect.value].ldus[this.value].teams
              .sort((a,b) => a.name >= b.name ? 1 : 0)
              .forEach(team => teamSelect.options[teamSelect.options.length] = new Option(team.name, team.code))
            }
          }


        }
    </script>
{% endblock %}

