{% extends "partials/history-officer-view.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/card/macro.njk" import card %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set officerName = data.forename + ' ' + data.surname %}
{% set officerGrade = data.grade %}
{% set officerCode = data.code %}
{% set officerTotalCases = data.totalCases %}

{% set tableData = {
    firstCellIsHeader: false,
    head: [
        {
            text: "Tier"
        }, {
            text: "Number of cases"
        }
    ],
    rows: [
        [
            {
                text: "A"
            }, {
                text: data.caseTotals.a
            }
        ],
        [
            {
                text: "B"
            }, {
                text: data.caseTotals.b
            }
        ],
        [
            {
                text: "C"
            }, {
                text: data.caseTotals.c
            }
        ],
        [
            {
                text: "D"
            }, {
                text: data.caseTotals.d
            }
        ],
        [
            {
                text: "AS"
            }, {
                text: data.caseTotals.as
            }
        ],
        [
            {
                text: "BS"
            }, {
                text: data.caseTotals.bs
            }
        ],
        [
            {
                text: "CS"
            }, {
                text: data.caseTotals.cs
            }
        ],
        [
            {
                text: "DS"
            }, {
                text: data.caseTotals.ds
            }
        ],
        [
            {
                text: "Untiered"
            }, {
                text: data.caseTotals.untiered
            }
        ]
    ]
} %}

{% block officerContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Workload</h2>
            <p class="govuk-body-s govuk-!-margin-bottom-2">Last updated: {{ data.lastUpdatedOn | dateFormat }} at {{ data.lastUpdatedOn | timeFormat }}</p>

            <div class="govuk-grid-row">
                <div class="card__layout">
                    {{ card({
                        classes: 'card-total',
                        titleHtml: ('<a href="/pdu/'+ pduCode +'/' + officerTeamCode + '/' + data.code + '/active-cases" class="govuk-link--no-visited-state" aria-label="Total cases">' + data.totalCases + '<br>' + '<p class="govuk-body">' + "cases"  + '</p>' + '</a>')
                    }) }}
                </div>
                <div class="card__layout">
                    {{ card({
                        classes: 'card-total-subset ' + ('over-capacity' if data.capacity > 99 else 'under-capacity'),
                        titleHtml: (data.capacity + '%' + '<p class="govuk-body">' + "capacity"  + '</p>')
                    }) }}
                </div>

            </div>

            {{ govukDetails({
                summaryText: "View as points",
                text: govukSummaryList({
                    rows: [
                        {
                            key: {
                            text: "Points available"
                        },
                            value: {
                            text: data.pointsAvailable
                        }
                        },
                        {
                            key: {
                            text: "Points used"
                        },
                            value: {
                            text: data.pointsUsed
                        }
                        },
                        {
                            key: {
                            text: "Points remaining"
                        },
                            value: {
                            text: data.pointsRemaining
                        }
                        }
                    ]
                })
            }) }}

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible page-width">

            <h2 class="govuk-heading-l">Availability</h2>

            {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                        text: "Weekly hours"
                    },
                        value: {
                        text: data.weeklyHours
                    }
                    },
                    {
                        key: {
                        text: "Reductions"
                    },
                        value: {
                        text: data.reductions
                    }
                    },
                    {
                        key: {
                        text: "Last case allocated"
                    },
                        value: {
                        text: data.lastCaseAllocated
                    }
                    },
                    {
                        key: {
                        text: "Cases due to end within next 4 weeks"
                    },
                        value: {
                        text: data.caseEndDue
                    }
                    },
                    {
                        key: {
                        text: "Releases within next 4 weeks"
                    },
                        value: {
                        text: data.releasesDue
                    }
                    },
                    {
                        key: {
                        text: "Parole reports to complete within next 4 weeks"
                    },
                        value: {
                        text: data.paroleReportsDue
                    }
                    }
                ],
                classes: 'availability page-width'
            }) }}

        </div>

        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">Case mix by tier</h3>

            {{ govukTable(tableData) }}

        </div>

    </div>
{% endblock %}