{% extends "../partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = applicationName + " - Home" %}
{% set tableData = {
    caption: 'Unallocated community cases',
    captionClasses: 'govuk-heading-l',
    head: [
        { text: 'Name / CRN' },
        { text: 'Tier' },
        { text: 'Sentence date' },
        { text: 'Induction appointment' },
        { text: 'Probation status' },
        { text: 'Action' }
    ],
    rows: []
} %}

{% for item in unallocatedCases %}
    {% set days = item.initialAppointment | calculateDays %}
    {%- set tableRow = [
        { text: ('<strong>' + item.name + '</strong><br /><span class="govuk-body-s">' + item.crn + '</span>') | safe },
        { text: item.tier },
        { text: item.sentenceDate | dateFormat },
        { text: (item.initialAppointment | dateFormat + ('<span class="maw-secondary maw-overdue">' + days + '</span>' if days | overdueFlag else '<span class="maw-secondary">' + days + '</span>')) | safe if item.initialAppointment else 'Not booked'},
        { text: item.status },
        { text: ('<a href="/" class="govuk-link--no-visited-state" aria-label="Review case">' + "Review case" + '</a>' ) | safe}
    ] -%}
    {{ tableData.rows.push(tableRow) }}

{% endfor %}

{% block content %}

        <span class="govuk-caption-xl">Gateshead and South Tyneside</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">South Tyneside</h1>

        {{ mojSubNavigation({
          label: 'Sub navigation',
          items: [{
            text: 'Unallocated community cases' +  (' (' + casesLength | getCaseCount + ')' if casesLength) ,
            href: '#',
            active: true
          }]
        }) }}


        {{ govukTable(tableData) }}

    {% if not casesLength %}
          <p class="govuk-!-margin-bottom-9">No case list information available.</p>
    {% endif %}

            <h2 class="govuk-heading-l">Other unallocated cases</h2>
            {{ govukWarningText({
               text: "You must also check NDelius for any custody cases that need to be allocated.",
               iconFallbackText: "Warning"
            }) }}


{% endblock %}
