{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Gateshead and South Tyneside</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">South Tyneside</h1>
      </div>
    </div>
  </main>

{% endblock %}
