{% extends "partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = applicationName + " - Officer view" %}
{% set officerName = data.offenderManagerForename + ' '  + data.offenderManagerSurname %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home"
            },
            {
                text: "Unallocated cases",
                href: "/"
            },
            {
                text: "Case view",
                href: "/" + crn + "/convictions/" + convictionId + "/case-view"
            },
            {
                text: "Allocate to probation practitioner",
                href: "/" + crn + "/convictions/" + convictionId + "/allocate"
            }
        ]
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">Wrexham - Team 1</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ officerName }}
                <span class="maw-secondary-text-col govuk-!-display-block">{{ data.offenderManagerGrade }}</span>
            </h1>
        </div>
    </div>

{% endblock %}

