{% extends "partials/officer-view.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/card/macro.njk" import card %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Overview" %}
{% set officerName = data.forename + ' '  + data.surname %}
{% set officerGrade =  data.grade %}
{% set officerCode =  data.code %}
{% set officerTotalCases = data.totalCases %}

{% set tableData = {
    firstCellIsHeader: false,
    head: [
        {
            text: "Tier"
        },
        {
            text: "Number of cases"
        }
    ],
    rows: []
} %}

{% for tier, cases in data.caseTotals %}
    {%- set tableRow = [
        { text: tier | capitalize },
        { text: cases }
    ] -%}
    {{ tableData.rows.push(tableRow) }}
{% endfor %}

{% block officerContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Current workload</h2>
            <p class="govuk-body-s govuk-!-margin-bottom-2">Last updated: {{ data.lastUpdatedOn | dateFormat }} at {{ data.lastUpdatedOn | timeFormat }}</p>

            <div class="govuk-grid-row">
                <div class="card__layout">
                    {{ card({
                        classes: 'card-total',
                        titleHtml: ('<a href="/' + crn + '/convictions/' + convictionId + '/allocate/' + data.code + '/active-cases" class="govuk-link--no-visited-state" aria-label="Total cases">' + data.totalCases + '<br>' + '<p>' + "total cases"  + '</p>' + '</a>')
                    }) }}
                </div>
                <div class="card__layout">
                    {{ card({
                        classes: 'card-total-subset ' + ('over-capacity' if data.capacity > 99 else 'under-capacity'),
                        titleHtml: (data.capacity + '%' + '<p class="">' + "capacity"  + '</p>')
                    }) }}
                </div>

            </div>


            {{ govukDetails({
                summaryText: "View as points",
                text: govukSummaryList({
                    rows: [
                        {
                            key: {
                            text: "Points available"
                        },
                            value: {
                            text: data.pointsAvailable
                        }
                        },
                        {
                            key: {
                            text: "Points used"
                        },
                            value: {
                            text: data.pointsUsed
                        }
                        },
                        {
                            key: {
                            text: "Points remaining"
                        },
                            value: {
                            text: data.pointsRemaining
                        }
                        }
                    ]
                })
            }) }}

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible page-width">

            <h2 class="govuk-heading-l">Availability</h2>

            {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                        text: "Weekly hours"
                    },
                        value: {
                        text: data.weeklyHours
                    }
                    },
                    {
                        key: {
                        text: "Reductions"
                    },
                        value: {
                        text: data.totalReductionHours + (" hours until " + data.nextReductionChange | dateFormat if data.nextReductionChange) 
                    }
                    },
                    {
                        key: {
                        text: "Last case allocated"
                    },
                        value: {
                        text: ""
                    }
                    }
                ],
                classes: 'availability page-width'
            }) }}

        </div>

        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">Case mix by tier</h3>

            {{ govukTable(tableData) }}

        </div>

    </div>
{% endblock %}
