{% extends "partials/officer-view.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/card/macro.njk" import card %}

{% set pageTitle = applicationName + " - Overview" %}

{% block officerContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-l">Current workload</h2>

            <div class="govuk-grid-row">
                <div class="card__layout">
                </div>

                <div class="card__layout">
                    {{ card({
                        classes: ('over-capacity' if data.offenderManagerCurrentCapacity > 99 else 'under-capacity'),
                        titleText: data.offenderManagerCurrentCapacity + '%',
                        descriptionText: 'capacity'
                    }) }}
                </div>

            </div>


            {{ govukDetails({
                summaryText: "View as points",
                text: govukSummaryList({
                    rows: [
                        {
                            key: {
                            text: "Points available"
                        },
                            value: {
                            text: data.offenderManagerPointsAvailable
                        }
                        },
                        {
                            key: {
                            text: "Points used"
                        },
                            value: {
                            text: data.offenderManagerPointsUsed
                        }
                        },
                        {
                            key: {
                            text: "Points remaining"
                        },
                            value: {
                            text: data.offenderManagerPointsRemaining
                        }
                        }
                    ]
                })
            }) }}
        </div>

        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}
