{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - Privacy notice" %}

{% block navigation %}{% endblock %}

{% block backlink %}
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
        text: "Back",
        href: "/"
    }) }}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Privacy notice</h1>

        </div>
    </div>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


            <p>Manage a workforce (<a href="https://workforce-management.hmpps.service.justice.gov.uk/">https://workforce-management.hmpps.service.justice.gov.uk/</a>)
                is provided by HMPPS Digital Services, part of the Ministry of Justice (MoJ).</p>

            <p>This privacy notice sets out the standards that you can expect from the Ministry of Justice when we request or hold personal information (‘personal data’) about you; how you can get access to a copy of your personal data; and what you can do if you think the standards are not being met.</p>

            <p>HMPPS Digital Services is part of HMPPS, an Executive Agency of the MoJ. MoJ is the data controller for the personal information we hold. HMPPS Digital Services collects and processes personal data for the exercise of its own and associated public functions. These include providing digital services to prison and probation staff.</p>

            <h2 class="govuk-heading-l">About personal information</h2>
            <p>Personal data is information about you as an individual. It can be your name, address or telephone number. It can also include information about where you work, your email address and your job title.</p>

            <p>We know how important it is to protect customers’ privacy and to comply with data protection laws. We will safeguard your personal data and will only disclose it where it is lawful to do so, or with your consent.</p>

            <h2 class="govuk-heading-l">What data we collect</h2>

            <p>We collect certain information and data about you when you use Manage a workforce.
                We collect:

            <ul class="govuk-list govuk-list--bullet">
                <li>your name and username</li>
                <li>the cases you access on the service</li>
                <li>your IP address</li>
                <li>your email address</li>
            </ul>

            <p class="govuk-body">This data can be viewed by authorised people in HMPPS Digital Services and our suppliers, to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>gather feedback to improve our services</li>
                <li>respond to any feedback you send us, if you’ve asked us to</li>
            </ul>

            <p>We use Google Analytics software to collect information about how you use Manage a workforce. This includes IP addresses. The data is anonymised before being used for analytics processing.</p>

            <p>Google Analytics processes anonymised information about:
            <ul class="govuk-list govuk-list--bullet">
                <li>the pages you visit on Manage a workforce</li>
                <li>how long you spend on each page</li>
                <li>how you got to the service</li>
                <li>what you click on while you’re using the service</li>
            </ul>
            </p>

            <p>We do not store your personal information through Google Analytics (for example your name or address).</p>

            <p>We will not identify you through analytics information, and we will not combine analytics information with other data sets in a way that would identify who you are.</p>

            <p>We continuously test and monitor our data protection controls to make sure they’re effective and to detect any weaknesses.</p>

            <h2 class="govuk-heading-l">Why we need your data</h2>
            <p>We collect information through Google Analytics to see how you use the service. We do this to help:
            <ul class="govuk-list govuk-list--bullet">
                <li>make sure the service is meeting the needs of its users</li>
                <li>make improvements, for example improving how you navigate the service</li>
            </ul>
            </p>

            <p>We also collect data in order to:
            <ul class="govuk-list govuk-list--bullet">
                <li>gather feedback to improve our services</li>
                <li>respond to any feedback you send us, if you’ve asked us to</li>
                <li>inform you of any issues with the service, such as service downtime</li>
                <li>monitor use of the site to identify security threats</li>
            </ul>
            </p>

            <h2 class="govuk-heading-l">How long we keep your data</h2>
            <p>We will only retain your personal data for as long as:
            <ul class="govuk-list govuk-list--bullet">
                <li>it is needed for the purposes set out in this document</li>
                <li>the law requires us to</li>
            </ul>

            <h2 class="govuk-heading-l">Where your data is processed and stored</h2>
            <p>We design, build and run our service to make sure that your data is as safe as possible at all stages, both while it’s processed and when it’s stored.</p>
            <p>All personal data is stored in the United Kingdom or European Economic Area (EEA). Data collected by Google Analytics may be transferred outside the UK or EEA for processing.</p>

            <h2 class="govuk-heading-l">How we protect your data and keep it secure</h2>
            <p>We are committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data - for example, we protect your data using varying levels of encryption.</p>

            <h2 class="govuk-heading-l">Disclosing your information</h2>
            <p>We may pass on your personal information if we have a legal obligation to do so, or if we have to enforce or apply our terms of use and other agreements. This includes exchanging information with other government departments for legal reasons.</p>
            <p>We will not share your information with any other organisations for marketing, market research or commercial purposes.</p>

            <h2 class="govuk-heading-l">Your rights</h2>
            <p>You have the right to request:
            <ul class="govuk-list govuk-list--bullet">
                <li>information about how your personal data is processed</li>
                <li>a copy of that personal data</li>
                <li>that anything inaccurate in your personal data is corrected immediately</li>
            </ul>
            </p>

            <p>You can also:
            <ul class="govuk-list govuk-list--bullet">
                <li>raise an objection about how your personal data is processed</li>
                <li>request that your personal data is erased if there is no longer a justification for it</li>
                <li>ask that the processing of your personal data is restricted in certain circumstances</li>
            </ul>
            </p>

            <p>Contact the MoJ data protection officer if you wish to make a request:
            <address>
                MoJ Data Protection Officer<br>
                3rd Floor, Post Point 3.20<br>
                10 South Colonnades<br>
                London<br>
                E14 4PU<br>
                <a href="mailto:data.compliance@justice.gov.uk">data.compliance@justice.gov.uk</a>
            </address>
            </p>

            <p>For more information on how and why your information is processed please see the information provided when you accessed our services or were contacted by us.</p>


            <h2 class="govuk-heading-l">Links to other services</h2>
            <p>The Manage a workforce contains links to other services.</p>
            <p>This privacy policy only applies to Manage a workforce and does not cover other services and transactions that we link to. These services have their own terms and conditions and privacy policies.</p>

            <h3 class="govuk-heading-m">Following a link to another service</h3>
            <p>If you go to another service from this one, read the privacy policy on that service to find out what it does with your information.</p>

            <h3 class="govuk-heading-m">Following a link to the Manage a workforce from another service</h3>
            <p>If you come to Manage a workforce from another service, we may receive information from the other service. We do not use this data. You should read the privacy policy of the service you came from to find out more about this.</p>

            <h2 class="govuk-heading-l">Complaints</h2>

            <p>When we ask you for information, we will keep to the law. If you consider that your information has been handled incorrectly, you can contact the MoJ data protection officer:
            <address>
                MoJ Data Protection Officer<br>
                3rd Floor, Post Point 3.20<br>
                10 South Colonnades<br>
                London<br>
                E14 4PU<br>
                <a href="mailto:data.compliance@justice.gov.uk">data.compliance@justice.gov.uk</a>
            </address>
            </p>

            <p>You can also contact the Information Commissioner for independent advice about data protection.
            <address>
                Information Commissioner's Office<br>
                Wycliffe House<br>
                Water Lane<br>
                Wilmslow<br>
                Cheshire<br>
                SK9 5AF<br>
                Tel: 0303 123 1113<br>
                <a href="http://www.ico.org.uk">www.ico.org.uk</a>
            </address>
            </p>

            <h2 class="govuk-heading-l">Changes to this policy</h2>

            <p>We may change this privacy policy. Any changes to this privacy policy will apply to you and your data immediately.</p>

            <p>If these changes affect how your personal data is processed, HMPPS Digital Services will take reasonable steps to let you know.</p>

            <p class="govuk-body-s secondary-text-col">Last updated: 11th November 2021</p>
        </div>
    </div>

{% endblock %}
