{% extends "partials/case-view.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Probation record" %}
{% set currentOrderData = {
                classes: 'current-order-table',
                caption: 'Current order',
                captionClasses: 'govuk-table__caption--m',
                firstCellIsHeader: true,
                head: [
                    { text: 'Sentence'},
                    { text: 'Offence'},
                    { text: 'Start date'},
                    { text: 'Probation practitioner'}
                ],
                rows: []
 } %}

 {% for currentOrder in currentOrders %}
    {{
        currentOrderData.rows.push([
            { text: currentOrder.sentence },
            { text: (currentOrder.offences[0] if currentOrder.offences | length == 1  else '<ol class="govuk-list govuk-list--number"><li>' +  currentOrder.offences | join("</li><li>") + '</li></ol>') | safe},
            { text: currentOrder.date},
            { text: currentOrder.probationPractitioner}
        ])
    }}

{% endfor %}

{% set previousOrderData = {
                classes: 'previous-order-table',
                caption: 'Previous order',
                captionClasses: 'govuk-table__caption--m',
                firstCellIsHeader: true,
                head: [
                    { text: 'Sentence'},
                    { text: 'Offence'},
                    { text: 'End date'}
                ],
                rows: []
 } %}

 {% for previousOrder in previousOrders %}
    {{
        previousOrderData.rows.push([
            { text: previousOrder.sentence },
            { text: (previousOrder.offences[0] if previousOrder.offences | length == 1  else '<ol class="govuk-list govuk-list--number"><li>' +  previousOrder.offences | join("</li><li>") + '</li></ol>') | safe},
            { text: previousOrder.date}
        ])
    }}

{% endfor %}

{% block caseContent %}

    <h2 class="govuk-heading-l">Probation record</h2>
        
        {% if currentOrders | length > 0 %}
            {{ govukTable(currentOrderData) }}
        {% else %}
            <h3 class="govuk-heading-m">Current order</h3>
            <p class="govuk-body">No current orders.</p>

        {% endif %}

    {% if previousOrders | length > 0 %}
        {{ govukTable(previousOrderData) }}
    {% else %}
        <h3 class="govuk-heading-m">Previous orders</h3>
        <p class="govuk-body">No previous orders.</p>

    {% endif %}



{% endblock %}
