{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/card/macro.njk" import card %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "../components/doubleCell/macro.njk" import doubleCell -%}
{%- from "../components/allocatedCaseLink/macro.njk" import allocatedCaseLink -%}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%- from "../components/caseLoadCase/macro.njk" import caseLoadCase -%}


{% set officerName = data.name.combinedName %}
{% set officerGrade =  data.grade %}
{% set officerCode =  data.code %}
{% set officerTotalCases = overviewData.activeCases | length %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Your teams",
                href: "/pdu/" + pduCode + "/teams"
            },
            {
                text: teamName,
                href: '/pdu/' + pduCode + '/' + officerTeamCode + '/reallocations/team-workload'
            },
            {
                text: officerName,
                href: '/pdu/' + pduCode + '/' + officerTeamCode + '/reallocations/cases/' + officerCode
            }
        ]
    }) }}
{% endblock %}

{% set tableData = {
    firstCellIsHeader: false,
    head: [
        {
            text: "Tier"
        }, {
            text: "Number of cases"
        }
    ],
    rows: [
        [
            {
                text: "A"
            }, {
                text: overviewData.caseTotals.a
            }
        ],
        [
            {
                text: "B"
            }, {
                text: overviewData.caseTotals.b
            }
        ],
        [
            {
                text: "C"
            }, {
                text: overviewData.caseTotals.c
            }
        ],
        [
            {
                text: "D"
            }, {
                text: overviewData.caseTotals.d
            }
        ],
        [
            {
                text: "AS"
            }, {
                text: overviewData.caseTotals.as
            }
        ],
        [
            {
                text: "BS"
            }, {
                text: overviewData.caseTotals.bs
            }
        ],
        [
            {
                text: "CS"
            }, {
                text: overviewData.caseTotals.cs
            }
        ],
        [
            {
                text: "DS"
            }, {
                text: overviewData.caseTotals.ds
            }
        ],
        [
            {
                text: "Untiered"
            }, {
                text: overviewData.caseTotals.untiered
            }
        ]
    ]
} %}

{% set caseTableData = {
    caption: 'Active cases ',
    captionClasses: 'govuk-heading-l',
    attributes: {
        'data-module': 'moj-sortable-table',
        'data-persistent-id': 'active-cases'
    },
    head: [
        { text: 'Name / CRN',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-name-crn'
        }
        },
        { text: 'Tier',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-tier'
        }
        },
        { text: 'Type of case',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-type-of-case'
        }
        },
        { text: 'Date of initial allocation',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-initial-allocation-date'
        }
        },
        { text: 'Reallocate',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-initial-allocation-date'
        }
        }
    ],
    rows: []
} %}

{% for item in cases %}
    {% if item.redacted == true %}
        {%- set tableRow = [
            {
                text: caseLoadCase(item),
                attributes: { "data-sort-value": item.crn }
            },
            { text: 'This is a restricted access case. Check NDelius if you require access or further information.', attributes: { "data-sort-value": item.tierOrder }, colspan: 4 }
        ] -%}
    {% elif item.excluded === true %}
        {%- set tableRow = [
            {
                text: caseLoadCase(item),
                attributes: { "data-sort-value": item.crn }
            },
            { text: item.tier, attributes: { "data-sort-value": item.tierOrder } },
            { text: (item.type | capitalize)},
            { text: item.initialAllocation, attributes: { "data-sort-value": item.initialAllocation } },
            { text: allocatedCaseLink(item, pduCode), attributes: { "data-sort-value": item.redacted } }

        ] -%}
    {% else %}
        {%- set tableRow = [
            {
                text: doubleCell('<strong>' + item.name + '</strong>', item.crn, 'govuk-body-s' ),
                attributes: { "data-sort-value": item.crn }
            },
            { text: item.tier, attributes: { "data-sort-value": item.tierOrder } },
            { text: (item.type | capitalize)},
            { text: (item.initialAllocation)},
            { text: allocatedCaseLink(item, pduCode) }

        ] -%}
    {% endif %}

    {{ caseTableData.rows.push(tableRow) }}

{% endfor %}



{% block content %}

{% block officerContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">{{ teamName }}</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ officerName }}
                <span class="maw-secondary-text-col govuk-!-display-block">{{ officerGrade }}</span>
            </h1>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible page-width">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Workload</h2>
            <p class="govuk-body-s govuk-!-margin-bottom-2">Last updated: {{ data.lastUpdatedOn | dateFormat }} at {{ data.lastUpdatedOn | timeFormat }}</p>

            <div class="govuk-grid-row">
                <div class="card__layout">
                    {{ card({
                        classes: 'card-total',
                        titleHtml: (overviewData.totalCases + '<p class="govuk-body">' + "cases"  + '</p>')
                    }) }}
                </div>
                <div class="card__layout">
                    {{ card({
                        classes: 'card-total-subset ' + ('over-capacity' if data.capacity > 99 else 'under-capacity'),
                        titleHtml: (overviewData.capacity + '%' + '<p class="govuk-body">' + "workload"  + '</p>')
                    }) }}
                </div>

            </div>

            {{ govukDetails({
                summaryText: "View as points",
                text: govukSummaryList({
                    rows: [
                        {
                            key: {
                            text: "Points available"
                        },
                            value: {
                            text: overviewData.pointsAvailable
                        }
                        },
                        {
                            key: {
                            text: "Points used"
                        },
                            value: {
                            text: overviewData.pointsUsed
                        }
                        },
                        {
                            key: {
                            text: "Points remaining"
                        },
                            value: {
                            text: overviewData.pointsRemaining
                        }
                        }
                    ]
                })
            }) }}


        </div>

        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">Case mix by tier</h3>

            {{ govukTable(tableData) }}

        </div>

    </div>
{% endblock %}

{{ govukTable(caseTableData) }}


{% endblock %}
