{% extends "partials/officer-view.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "../components/doubleCell/macro.njk" import doubleCell -%}
{%- from "../components/allocatedCaseLink/macro.njk" import allocatedCaseLink -%}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%- from "../components/caseLoadCase/macro.njk" import caseLoadCase -%}


{% set officerName = data.name.combinedName %}
{% set officerGrade =  data.grade %}
{% set officerCode =  data.code %}
{% set officerTotalCases = overviewData.activeCases | length %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Your teams",
                href: "/pdu/" + pduCode + "/teams"
            },
            {
                text: teamName,
                href: '/pdu/' + pduCode + '/' + officerTeamCode + '/reallocations/team-workload'
            },
            {
                text: officerName,
                href: '/pdu/' + pduCode + '/' + officerTeamCode + '/reallocations/cases/' + officerCode
            }
        ]
    }) }}
{% endblock %}

{% set caseTableData = {
    caption: 'Active cases ',
    captionClasses: 'govuk-heading-l',
    attributes: {
        'data-module': 'moj-sortable-table',
        'data-persistent-id': 'active-cases'
    },
    head: [
        { text: 'Name / CRN',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-name-crn'
        }
        },
        { text: 'Tier',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-tier'
        }
        },
        { text: 'Type of case',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-type-of-case'
        }
        },
        { text: 'Date of initial allocation',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-initial-allocation-date'
        }
        },
        { text: 'Reallocate',
            attributes: {
            "aria-sort": "none",
            'data-persistent-id': 'active-cases-reallocate'
        }
        }
    ],
    rows: []
} %}

{% for item in cases %}
    {% if item.redacted == true %}
        {%- set tableRow = [
            {
                text: caseLoadCase(item),
                attributes: { "data-sort-value": item.crn }
            },
            { text: 'This is a restricted access case. Check NDelius if you require access or further information.', attributes: { "data-sort-value": item.tierOrder }, colspan: 4 }
        ] -%}
    {% elif item.excluded === true %}
      {% if item.initialAllocationDate === '' %}
          {%- set tableRow = [
              {
                  text: caseLoadCase(item),
                  attributes: { "data-sort-value": item.crn }
              },
              { text: item.tier, attributes: { "data-sort-value": item.tierOrder } },
              { text: (item.type | capitalize)},
              { text: '', attributes: { "data-sort-value": item.initialAllocationDate } },
              { text: allocatedCaseLink(item, pduCode), attributes: { "data-sort-value": item.redacted } }

          ] -%}
       {% else %}
          {%- set tableRow = [
              {
                  text: caseLoadCase(item),
                  attributes: { "data-sort-value": item.crn }
              },
              { text: item.tier, attributes: { "data-sort-value": item.tierOrder } },
              { text: (item.type | capitalize)},
              { text: (item.initialAllocationDate | dateFormat), attributes: { "data-sort-value": item.initialAllocationDate } },
              { text: allocatedCaseLink(item, pduCode), attributes: { "data-sort-value": item.redacted } }

          ] -%}
       {% endif %}
    {% else %}
        {% if item.initialAllocationDate === '' %}

          {%- set tableRow = [
              {
                  text: doubleCell('<strong>' + item.name + '</strong>', item.crn, 'govuk-body-s' ),
                  attributes: { "data-sort-value": item.crn }
              },
              { text: item.tier, attributes: { "data-sort-value": item.tierOrder } },
              { text: (item.type | capitalize)},
              { text: '', attributes: { "data-sort-value": item.initialAllocationDate } },
              { text: allocatedCaseLink(item, pduCode), attributes: { "data-sort-value": item.redacted } }

          ] -%}
       {% else %}
             {%- set tableRow = [
                 {
                     text: doubleCell('<strong>' + item.name + '</strong>', item.crn, 'govuk-body-s' ),
                     attributes: { "data-sort-value": item.crn }
                 },
                 { text: item.tier, attributes: { "data-sort-value": item.tierOrder } },
                 { text: (item.type | capitalize)},
                 { text: (item.initialAllocationDate | dateFormat), attributes: { "data-sort-value": item.initialAllocationDate } },
                 { text: allocatedCaseLink(item, pduCode), attributes: { "data-sort-value": item.redacted } }

             ] -%}

       {% endif %}

    {% endif %}

    {{ caseTableData.rows.push(tableRow) }}

{% endfor %}

{% block content %}
    {{ govukTable(caseTableData) }}
{% endblock %}
