{% extends "partials/case-view.njk" %}

{% set pageTitle = applicationName + " - Risk" %}


{% block caseContent %}

            <h2 class="govuk-heading-l">Risk</h2>
            <p class="govuk-body">Under construction.</p>

{% endblock %}
