{% extends "partials/case-view.njk" %}

{% set pageTitle = applicationName + " - Risk" %}


{% block caseContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Risk</h2>
            <p class="govuk-body">Under construction.</p>
        </div>
    </div>

{% endblock %}
