{% extends "partials/layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}


{% set checkboxItems = [] %}
{% for item in data %}
    {{ checkboxItems.push({
        value: item.code,
        text: item.name
    }) }}
{% endfor %}

{% block content %}

{% if error %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                text: "Select the teams you allocate to",
                href: "#team-error"
                }
            ]
        }) }}
    {% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">{{ regionName }}</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ pduName }}</h1>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>    
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukCheckboxes({
            name: "team",
            fieldset: {
                legend: {
                    text: "Select your teams",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            errorMessage: { text: "Select the teams you allocate to"} if error,
            hint: {
                html: "Select all the teams you currently allocate cases to.  You only need to pick teams that have probation practitioners in them.
                <br> 
                <br> 
                You can select more than one team."
            },
            items: checkboxItems
        })}}

        <div class="govuk-button-group">
            {{ govukButton({
                text: "Continue"
            }) }}
            <a class="govuk-link" href="/regions">Cancel</a>
        </div>
        </form>
    </div>
</div>

{% endblock %}