{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}



{% set radioItems = [] %}
{% for item in probationDeliveryUnits %}
    {{ radioItems.push({
        value: item.code,
        text: item.name
    }) }}
{% endfor %}

{% block content %}

{% if error %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                text: "Select a probation delivery unit",
                href: "#probationDeliveryUnit-error"
                }
            ]
        }) }}
    {% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">HMPPS</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ regionName }}</h1>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>    
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukRadios({
            name: "probationDeliveryUnit",
            fieldset: {
                legend: {
                    text: "Select your probation delivery unit (PDU)",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            errorMessage: { text: "Select a probation delivery unit"} if error,
            items: radioItems
        })}}
        <div class="govuk-button-group">
        {{ govukButton({
            text: "Continue"
        }) }}
        <a class="govuk-link" href="/before-you-start">Cancel</a>
        </div>
        </form>
    </div>
</div>

{% endblock %}