{% extends "partials/case-view.njk" %}

{% set pageTitle = applicationName + " - Summary" %}


{% block caseContent %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Summary</h2>
        <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title" id ="personal-details">
            <header class="app-summary-card__header">
                <h2 class="app-summary-card__title">Personal details</h2>
            </header>
        </section>
    </div>
</div>

{% endblock %}


