{% extends "partials/case-view.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/documentCell/macro.njk" import documentCell %}
{% from "../components/doubleCell/macro.njk" import doubleCell %}
{% from "../components/risk-summary/macro.njk" import riskSummaryBadge %}
{% set documentTabHref = '/pdu/' + pduCode+ '/' + crn + '/convictions/' + convictionNumber + '/documents' %}
{% set offenceData = data.offences %}
{%- set offences = [] -%}
{%- for offence in offenceData  if offenceData %}
    {{ offences.push(offence) }}
{% endfor -%}

{% block caseContent %}

    <h2 class="govuk-heading-l">Summary</h2>
    <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title" id ="personal-details">
        <header class="app-summary-card__header">
            <h2 class="app-summary-card__title">Personal details</h2>
        </header>
        <div class="app-summary-card__body">
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                        text: "Name"
                    },
                        value: {
                        text: data.name
                    }
                    },
                    {
                        key: {
                        text: "Gender"
                    },
                        value: {
                        text: data.gender
                    }
                    },
                    {
                        key: {
                        text: "Date of birth"
                    },
                        value: {
                        text: data.dateOfBirth  | dateFormat + ' (' + data.age + ' years old)'
                    }
                    },
                    {
                        key: {
                        text: "PNC"
                    },
                        value: {
                        text: data.pncNumber
                    }
                    },
                    {
                        key: { text: "Main address" },
                        value: {
                            html: address.rows | join("<br>")
                        }
                    }
                ]
            })}}
        </div>
    </section>

    <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title" id ="sentence">
        <header class="app-summary-card__header">
            <h2 class="app-summary-card__title">Sentence</h2>
        </header>
        <div class="app-summary-card__body">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Offence</dt>
                        <dd class="govuk-summary-list__value">
                            {% if offences | length == 1 %}
                                {%- for offence in offences  if offences %}
                                <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
                                    {{  offence.mainCategory}}
                                </h3>
                                    <p class="govuk-body-s maw-secondary-text-col"><strong>{{ offence.subCategory }}</strong></p>
                                {% endfor -%}
                            {% else %}
                                <ol class="govuk-list govuk-list--number">
                                    {%- for offence in offences  if offences %}
                                    <li>{{ offence.mainCategory }}</li>
                                        <p class="govuk-body-s maw-secondary-text-col"><strong>{{ offence.subCategory }}</strong></p>
                                    {% endfor -%}
                                </ol>
                            {% endif %}
                        </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Order</dt>
                    <dd class="govuk-summary-list__value">
                        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
                            {{ data.sentenceDescription }} 
                            {% if data.sentenceLength %}
                                ({{ data.sentenceLength }})
                            {% endif %}
                        </h3>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Start date: {{ data.sentenceDate | dateFormat }}</li>
                            <li>End date: {{ data.expectedSentenceEndDate | dateFormat }}</li>
                        </ul>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Requirements</dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list govuk-list--bullet">
                            {%- for requirement in data.requirements  if data.requirements %}
                            <li>{{ requirement.mainCategory }}: {{ requirement.subCategory }} {{ requirement.length }}</li>
                            {% endfor -%}
                        </ul>
                    </dd>
                </div>
            </dl>
        </div>
    </section>

    <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title" id ="risk">
        <header class="app-summary-card__header">
            <h2 class="app-summary-card__title">Risk</h2>
            <a class="govuk-link" href="/pdu/{{ pduCode }}/{{ crn }}/convictions/{{ convictionNumber }}/case-risk">View all risk details</a>
        </header>
        <div class="app-summary-card__body">
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                        text: "Risk assessment"
                    },
                        value: {
                        html: riskSummaryBadge(data)
                    }
                    },
                    {
                        key: {
                        text: "Active risk registrations"
                    },
                        value: {
                        html: data.activeRiskRegistration if data.activeRiskRegistration else 'There are no active registrations.'
                    }
                    }
                ]
            })}}
        </div>
    </section>

    <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title" id ="case-details">
        <header class="app-summary-card__header">
            <h2 class="app-summary-card__title">Associated documents</h2>
            <a class="govuk-link" href="/pdu/{{ pduCode }}/{{ crn }}/convictions/{{ convictionNumber }}/documents">View all documents</a>
        </header>
        <div class="app-summary-card__body">
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                        text: "CPS pack"
                    },
                        value: {
                        html: documentCell(crn, data.cpsPack.documentId, data.cpsPack.completedDate, 'Download CPS pack', documentTabHref, data.cpsPack.name)
                    }
                    },
                    {
                        key: {
                        text: "Pre-convictions"
                    },
                        value: {
                        html: documentCell(crn, data.preConvictionDocument.documentId, data.preConvictionDocument.completedDate, 'Download Pre-convictions document', documentTabHref, data.preConvictionDocument.name)
                    }
                    },
                    {
                        key: {
                        html: 'Pre-sentence report'
                    },
                        value: {
                        html: documentCell(crn,data.courtReport.documentId, data.courtReport.completedDate, '	Download ' + data.courtReport.description, documentTabHref, data.courtReport.name )
                    }
                    },
                    {
                        key: {
                        html: 'OASys'
                    },
                        value: {
                        text: doubleCell('<strong class="govuk-tag">CHECK OASYS</strong>', 'Uploaded ' + data.assessment.lastAssessedOn | dateFormat if data.assessment.lastAssessedOn)
                    }
                    }
                ]
            })}}
        </div>
    </section>


{% endblock %}



