{% extends "partials/case-view.njk" %}

{% set pageTitle = applicationName + " - Summary" %}


{% block caseContent %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l govuk-!-margin-bottom-7">Summary</h2>
    </div>
</div>

{% endblock %}


