{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../components/card/macro.njk" import card %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from '../components/workloadDetails/macro.njk' import workloadDetails %}

{%- set teamTableData = {
    attributes: {
        'data-module': 'moj-sortable-table',
        'data-persistent-id': teamCode + '-choose-practitioner',
        id: 'team-workload-table'
    },
    captionClasses: "govuk-table__caption--l",
    firstCellIsHeader: true,
    head: [
        {
            text: "Name",
            attributes: {
                "aria-sort": "none",
                'data-persistent-id': teamCode + '-team-workload-name'
            }
        },
        {
            text: "Grade",
            attributes: {
                "aria-sort": "descending",
                'data-persistent-id': teamCode + '-team-workload-grade'
            }
        },
        {
            text: "Allocations in APoP last 7 days",
            attributes: {
                "aria-sort": "none",
                'data-persistent-id': teamCode + '-team-workload-allocations-in-apop-last-7-days'
            }
        },
        {
            text: "Reallocations in APoP last 7 days",
            attributes: {
                "aria-sort": "none",
                'data-persistent-id': teamCode + '-team-workload-reallocations-in-apop-last-7-days'
            }
        },
        {
            text: "ISPs due next 14 days",
            attributes: {
                "aria-sort": "none",
                'data-persistent-id': teamCode + '-team-workload-isps-due-next-14-days'
            }
        }
    ],
    rows: []
} -%}

{% for offenderManager in teamWorkload %}
    {%- set workloadDetailsHtml -%}
    {{
        workloadDetails({
            name: offenderManager.name.combinedName if offenderManager.name.combinedName else offenderManager.name.forename + ' ' + offenderManager.name.surname,
            tierCaseTotals: {
                a: offenderManager.tierCaseTotals.a,
                b: offenderManager.tierCaseTotals.b,
                c: offenderManager.tierCaseTotals.c,
                d: offenderManager.tierCaseTotals.d,
                e: offenderManager.tierCaseTotals.e,
                f: offenderManager.tierCaseTotals.f,
                g: offenderManager.tierCaseTotals.g
            },
            communityCases: offenderManager.communityCases,
            licenseCases: offenderManager.licenseCases,
            custodyCases: offenderManager.custodyCases,
            activeCases: offenderManager.activeCases,
            contactSuspendedCases: offenderManager.contactSuspendedCases,
            custodyReleasesInNext7Days: offenderManager.custodyReleasesInNext7Days,
            paroleReportsInNext28Days: offenderManager.paroleReportsInNext28Days,
            otherReportsInNext14Days: offenderManager.otherReportsInNext14Days
        })
    }}
    {%- endset -%}

    {%- set tableRow = [
      {
          html: '<a class="govuk-link--no-visited-state" href="/pdu/' + pduCode + '/' + teamCode + '/' + offenderManager.code + '/active-cases">' + offenderManager.name.forename + ' ' + offenderManager.name.surname + '</a>'
                + '<div class="team-workload-name-wrapper">' + workloadDetailsHtml + '</div' | safe,
          attributes: {
            "data-sort-value": offenderManager.name.forename + ' ' + offenderManager.name.surname
          }
      },
      {
          text: offenderManager.grade,
          attributes: {
              "data-sort-value": offenderManager.gradeOrder
          }
      },
      {
          text: offenderManager.allocatedCasesPastWeek,
          attributes: {
              "data-sort-value": offenderManager.allocatedCasesPastWeek
          }
      },
      {
          text: offenderManager.reallocatedCasesPastWeek,
          attributes: {
              "data-sort-value": offenderManager.reallocatedCasesPastWeek
          }
      },
      {
          text: offenderManager.ispsDueInNext14Days,
          attributes: {
              "data-sort-value": offenderManager.ispsDueInNext14Days
          }
      }
    ] -%}
    {{ teamTableData.rows.push(tableRow) }}
{% endfor %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Your teams",
                href: "/pdu/" + pduCode + "/teams"
            },
            {
                text: teamDetails.name,
                href: '/pdu/' + pduCode + '/' + teamCode +  '/team-workload'
            }
        ]
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">{{ teamDetails.probationDeliveryUnit.name }}</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ teamDetails.name }}</h1>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Workload</h2>
    <p class="govuk-body-s govuk-!-margin-bottom-2">Last updated: {{ data.lastUpdatedOn | dateFormat }} at {{ data.lastUpdatedOn | timeFormat }}</p>

    <div class="govuk-grid-row  govuk-!-margin-bottom-9">
        <div class="card__layout">
            {{ card({
                classes: 'card-total',
                titleHtml: (totalCases + '<br>' + '<p class="govuk-body">' + "cases"  + '</p>' + '</a>')
            }) }}
        </div>
    </div>

    {{ govukTable(teamTableData) }}

{%endblock%}
