{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% set februaryRelease %}
    <h2 class="govuk-heading-s">What's new</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li>Email autocomplete: we added email autocomplete functionality when sending allocation instructions, so you don't have to enter email addresses manually. </li>
        <li>Viewing allocation demand: we introduced a new process for surfacing allocation demand, that allows you to see unallocated cases in any team within a probation delivery unit (PDU). </li>
        <li>Start page: we added a Start page to the service, which explains the team selection and allocation demand processes to new users. This will only be seen once, when you first sign in.</li>
        <li>Allocating to multiple teams: we updated the ‘Allocate to a probation practitioner’ screen, giving SPOs that allocate to multiple teams the option to view staff in a single list, or in their separate teams.</li>
        <li>Service name: we formalised the name for the service - ‘Allocate a Person on Probation’ - which was previously known as ‘Allocations’.</li>
        <li>Accessibility: we updated the ‘Choose a practitioner’ table so the link to the practitioner’s ‘Workload’ information is the practitioner’s name (rather than ‘View’). This is best practice for accessibility.</li>
    </ul>
    <h2 class="govuk-heading-s">Technical fixes</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li>We fixed an issue where users were unable to allocate a case if Javascript was turned off.</li>
        <li>We amended the process behind displaying the ‘Allocation complete’ screen to reduce 404 errors when users refresh the page.</li>
        <li>We fixed an issue where adding another email address on the ‘Allocation instructions’ screen was moving the focus to the top of the page, and anchored it to the email input box.</li>
    </ul>
{% endset %}

{% block beforeContent %}
    {% if referrer %}
        {{ govukBackLink({
            text: "Back",
            href: referrer
        }) 
        }}
    {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Allocations</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Technical updates</h1>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>    
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p data-qa-link="send-feedback">Send us feedback <a class="govuk-link--no-visited-state" href="mailto:manageaworkforce@justice.gov.uk">by email</a>.</p>

        {{ govukAccordion({
            id: "accordion-default",
            items: [
                {
                heading: {
                    text: "February 2023"
                },
                summary: {
                    text: "Dates covered: 18 Jan - 15 Feb 2023"
                },
                content: {
                    html: februaryRelease
                }
                }
            ]
           }) 
        }}

    </div>
</div>

{% endblock %}